body
  color:        $bodyColor
  font-family:  $bodyFont
  font-size:    ms(1)
  line-height:  1.25em

h1
  font-weight:  bold
  text-align:   center
  font-size:    ms(6)
  line-height:  1.25em

h2
  font-weight:     bold
  line-height:     1.5em
  font-size:       ms(7)
  text-align:      center
  text-transform:  lowercase

h3
  font-weight: normal
  font-size: ms(4)
  line-height: 1.25em

h4
  font-weight: normal
  font-size: ms(3)
  line-height: 1.25em

h5
  font-weight: bold
  font-size: ms(2)
  line-height: 1.25em

h6
  font-weight: bold
  font-size: ms(1)
  line-height: 1.25em

.fallback-message
  display: none

body.impress-not-supported
  .fallback-message
    display: block

html
  overflow: hidden

#title
  h2
    font-weight:    normal
    line-height:    1em
    font-size:      ms(8)
    text-align:     center
    text-align: right
    margin-bottom:  0em
  h1
    font-weight:    bold
    line-height:    1em
    font-size:      ms(11)
    text-align:     center
    text-align: right
    margin-bottom:  0em
  


.step
  +single-transition(opacity, 1s, ease)
  width:        1000px
  position:     relative
  line-height:  1.5em
  opacity:       0.3
  &.active
    opacity: 1

#subtitle
  h2
    font-weight:    bold
    line-height:    1.5em
    font-size:      ms(7) + 25px
    text-align:     center
    margin-bottom:  0em
  .uses
    position:     absolute
    bottom:       20px
    left:         20px
    font-size:    ms(4)
    font-weight:  bold
    line-height:  1.5em
    color:        white
    li
      opacity:      0
      margin-left:  30px
      +text-shadow(black 2px 2px 0, black 2px -2px 0, black -2px -2px 0, black -2px 2px 0)
      +transition-property(opacity, margin-left)
      +transition-duration(1s, 1s)
      +transition-timing-function(ease, ease)
  &.present .uses, &.past .uses
    li
      opacity:      1
      margin-left:  0px
      +transition-delay(2s,2s)
      &:nth-child(1)
        +transition-delay(3s,3s)
      &:nth-child(2)
        +transition-delay(4s,4s)
      &:nth-child(3)
        +transition-delay(5s,5s)
      &:nth-child(4)
        +transition-delay(6s,6s)
  .wiring
    +border-radius(1em)
    margin:      0
    padding:     0
    position:    relative
    height:      620px
    width:       1000px
    background:  url('../img/wiringbg.jpg') center no-repeat
    li img
      width: 100%
    li
      position:    absolute
      right:       30px
      width:       300px
      padding:     20px
    .jquery
      top:         30px
      background:  hsla(0,0,100,0.8)
      +border-radius(5px)
    .mootools
      top:         180px
      background:  hsla(0,0,50,0.8)
      +border-radius(5px)
    .scriptaculous
      background:  hsla(0,0,0,0.8)
      top:         330px
      padding:     0 0 0 15px 
      width:       325px
      +border-radius(5px)


#angular-intro
  h2
    font-weight:    bold
    line-height:    1.5em
    font-size:      ms(7)
    text-align:     center
    margin-bottom:  0.5em
  img
    display:  block
    margin:   0 auto 3.5em

.impress-on-angular-pullout1 #angular-intro
  opacity: 1
.impress-on-angular-pullout2 #angular-intro
  opacity: 1

$jsBg: hsla(33, 80, 75, 0.5)
$htmlBg: hsla(13, 100, 75, 0.5)
$outputBg: hsla(0, 0, 65, 0.5)

.hoverUncover
  .covered
    +inline-block
    width:    0
    opacity:  0
    +single-transition(opacity, 1s, ease)
  &:hover
    .covered
      width:    auto
      opacity:  1

.twoPane, .codePane
  .case
    @include clearfix
    opacity: 0.4
    +single-transition(opacity, 1s, ease)
    &:hover
      opacity: 1
  width:          900px
  padding-right:  104px
  .smallTitle
    position:        absolute
    top:             -1.5em
    left:            0.7em
    text-transform:  lowercase
    font-size:       ms(3)
    line-height:     1.25em
    +single-transition(opacity, 1s, ease)
  .panes
    background:  white
    position:      absolute
    border:        1px solid $bodyColor
    border-right:  none
    top:           0
    right:         100px
    bottom:        0
    left:          0
  .htmlSrc
    background: $htmlBg
  .js
    background: $jsBg
  .output
    background: $outputBg


.twoPane
  .source
    width:          52%
    float:          left
    font-family:    $monospaceFont
    font-size:      ms(2)
    line-height:    1.25em
    position:       relative
    padding:        0.25em 0.5em
    margin-top:     0.5em
    margin-bottom:  0.75em
    .arrow_box
      position:       absolute
      left:           99.9%
      top:            0%
      border-top:     (1.75em/2) solid transparent
      border-bottom:  (1.75em/2) solid transparent
      border-left:    (1.75em/2) solid $htmlBg
      display:        block
      width:          0
      height:         0
  .output
    width:  38%
    float:  right
    font-size:    ms(2)
    line-height:  1.25em
    padding-left:  0.0em
    margin-top:    0.5em
    position:       relative
    padding:        0.25em 0.5em
    margin-right:   0.5em
    margin-bottom:  0.75em
    +border-radius(8px)
    ul
      margin: 0
      padding:  0
      li
        margin:   0
        padding:  0
    table
      thead
        td
          font-weight: bold
      td
        padding-right: 0.5em

=arrows($arrowColor)
  .arrow_right
    position:       absolute
    left:           99.9%
    top:            25%
    border-top:     (1.75em/2) solid transparent
    border-bottom:  (1.75em/2) solid transparent
    border-left:    (1.75em/2) solid $arrowColor
    display:        block
    width:          0
    height:         0
  .arrow_left
    position:       absolute
    right:           99.9%
    top:            25%
    border-top:     (1.75em/2) solid transparent
    border-bottom:  (1.75em/2) solid transparent
    border-right:    (1.75em/2) solid $arrowColor
    display:        block
    width:          0
    height:         0

.codePane, .codeFloat
  .js
    font-family:  $monospaceFont
    background:   $jsBg
    margin:       0.5em
    padding:      0.5em
    font-size:      ms(2)
    line-height:    1.25em
    +border-radius(8px)
    +arrows($jsBg)
  .htmlSrc
    font-family:  $monospaceFont
    background:   $htmlBg
    margin:       0.5em
    padding:      0.5em
    font-size:      ms(2)
    line-height:    1.25em
    +border-radius(8px)
    +arrows($htmlBg)
  .output
    font-family:  $bodyFont
    background:   $outputBg
    margin:       0.5em
    padding:      0.5em
    font-size:      ms(2)
    line-height:    1.25em
    +arrows($outputBg)
    +border-radius(8px)
    em
      font-style: italic

.step.majorPaneTitle
  background:  white
  border:      1px solid $bodyColor
  h2
    +single-transition(opacity, 1s, ease)
  img
    display:  block
    width:    100%

.step.majorPane
  height: 1002px

.panes .icon
  position:    absolute
  top:         0
  left:        0
  right:       0
  bottom:      0
  opacity:     0
  background:  black
  +single-transition(opacity, 1s, ease)

.step.majorPane, .step.majorPaneTitle
  &.future
    opacity: 0
  &.active
    opacity: 1
  &.past
    opacity: 1
    .panes .case, .smallTitle
      opacity: 0
    .panes .icon
      opacity: 1
    h2
      opacity: 0.5

.step.codeFloat, #thats-actually-it
  &.future
    opacity: 0
  &.active
    opacity: 1
  &.past
    opacity: 1
  

#addressBookApp
  h2
    margin-bottom: 1em
  &.future
    opacity: 0
  &.past
    opacity: 1

#addressBookDemo
  min-height: 20em
  .search
    text-align: right
    width:        900px
    margin:       0 auto
    label
      font-weight: bold
  table
    width:        900px
    margin:       0 auto
    font-size:    ms(2) - 3px
    line-height:  1.5em
    thead
      border-bottom:  3px solid $bodyColor
      td
        padding: 0.25em
        font-weight:    bold
    tbody
      font-size:    ms(2) - 5px
      tr:nth-child(2n+1)
        background: lighten($outputBg, 10)
      .addEntryInput, .addEntryLink
        border-top:  1px dashed lighten($bodyColor, 60)
        background:  none !important
      td 
        padding: 0.25em
        &.firstName, &.lastName, &.phone
          width: 15%
        &.email
          width: 30%
        &.phone
          width: 20%
        input
          width:        93%
          font-family:  $bodyFont
          border:       none
          background:   $outputBg
          padding:      0.1em
        .edit
          display: none
      tr
        &.editing
          .display
            display: none
          .edit
            display: inline

.codeFloat
  width:      800px
  .htmlSrc, .js
    font-size:    ms(2) - 2px
    line-height:  1.5em
    .o
      font-weight: bold
    .mi
      color: blue
    .p
      color: transparentize($bodyColor, 0.2)
    .s
      color: desaturate(green, 50)


#variables .icon
  background: white url('../img/exprtile.png') center no-repeat
#directives .icon
  background: white url('../img/dirtile.png') center no-repeat
#modules .icon
  background: white url('../img/apptile.png') center no-repeat
#controllers .icon
  background: white url('../img/ctrltile.png') center no-repeat
#services .icon
  background: white url('../img/servicetile.png') center no-repeat

.impress-on-show-everything .step
  opacity: 1 !important

#thats-actually-it
  z-index: -200
#show-everything
  &.future
    opacity:  0
  height:     1000px
  z-index:    -500
  .callout
    text-align:  right
    position:    absolute
    top:         250px
    bottom:      0
    right:       800px
    width:       800px
    ul
      li
        font-size:    ms(4)
        line-height:  1.25em
        color:        lighten($bodyColor, 40)
        a
          text-decoration:  none
          color:            lighten(blue, 28)
          +single-transition(color, 1s, ease)
          &:hover
            color: lighten(blue, 5)
    ul.mini
      li
        font-size:    ms(2)
        line-height:  1.25em
