<!DOCTYPE html>


<head>
  <meta charset='utf-8' />
  <meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible' />
  <title></title>
  <meta content='' name='description' />
  <meta content='width=1044' name='viewport' />
  <link href='http://fonts.googleapis.com/css?family=Oxygen+Mono|Oxygen:400,700' rel='stylesheet' type='text/css'>
  <link href='css/style.css' rel='stylesheet' />
  <script src='js/components/angular-complete/angular.js'></script>
  <script src='js/app.js'></script>
</head>
<body class="impress-not-supported" ng-app="angularIntro">

<div class='fallback-message'>
  <p>
    Your browser <strong>doesn't support the features</strong> required by impress.js, so you'll get a simplified version.
  </p>
  <p>
    For the best experience use the latest <strong>Chrome</strong>, <strong>Safari</strong> or <strong>Firefox</strong> browser.

  </p>
</div>
<div id="impress">

<div id='title' class='step' data-y='-3800' data-x='-10000' data-scale='8'>
  <h2>Introduction to</h2>
  <h1>AngularJS</h1>

</div>
<div id='subtitle' class='step' data-y='-2500' data-x='0' data-scale='6'>
  <h2>Ditching the Duct Tape</h2>
  <ul class='wiring'>
    <li class='jquery'>
      <img src='img/brands/jquery.png' alt='jQuery' />
    </li>
    <li class='mootools'>
      <img src='img/brands/mootools.png' alt='MooTools' />
    </li>
    <li class='scriptaculous'>
      <img src='img/brands/scriptaculous_logo.png' alt='Scriptaculous' />
    </li>
  </ul>
  <ul class='uses'>
    <li>Reading the DOM</li>
    <li>DOM Transformation</li>
    <li>AJAX Operations</li>
    <li>Special Effects</li>

  </ul>
</div>
<div id='angular-intro' class='step' data-y='6000' data-x='0' data-scale='10'>
  <h2>Enter AngularJS</h2>
  <img src='img/databinding.png' alt='Data Binding' />
  <img src='img/scopemodular.png' alt='Data Scope and Modular Code' />

</div>
<div id='html-side'></div>
<div id='variables-intro' class='step majorPaneTitle' data-y='2320' data-x='1980'>
  <h2>
    Variables & Expressions

  </h2>
</div>
<div id='variables' class='step twoPane majorPane' data-y='2769' data-x='1980' data-rotate='-90'>
  <h6 class='smallTitle'>
    Variables & Expressions
  </h6>
  <div class='panes' ng-controller='variablesCtrl'>
    <div class='icon'></div>
    <div class='case'>
      <div class='source ng-non-bindable htmlSrc'>
        {{ 5 + 7 }}
        <div class='arrow_box'></div>
      </div>
      <div class='output'>
        {{ 5 + 7 }}
      </div>
    </div>
    <div class='case'>
      <div class='source ng-non-bindable htmlSrc'>
        {{ true == true }}
        <div class='arrow_box'></div>
      </div>
      <div class='output'>
        {{ true == true }}
      </div>
    </div>
    <div class='case'>
      <div class='source ng-non-bindable htmlSrc'>
        {{ true == false }}
        <div class='arrow_box'></div>
      </div>
      <div class='output'>
        {{ true == false }}
      </div>
    </div>
    <div class='case'>
      <div class='source ng-non-bindable htmlSrc'>
        &lt;input type="text"<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ng-model="inputText"/&gt;<br>
        {{ inputText }}
        <div class='arrow_box'></div>
      </div>
      <div class='output'>
        <input ng-model='inputText' type='text' />
        <p>{{ inputText }}</p>
      </div>
    </div>
    <div class='case'>
      <div class='source ng-non-bindable htmlSrc'>
        ( {{ nonExistant }} )<br>
        <div class='arrow_box'></div>
      </div>
      <div class='output'>
        ( {{ nonExistant }} )
      </div>
    </div>
    <div class='case'>
      <div class='source ng-non-bindable htmlSrc'>
        {{ today }}<br>
        {{ today | date:"dd MMM yyyy"}}<br>
        {{ today | date:"hh:mm a"}}<br>
        <div class='arrow_box'></div>
      </div>
      <div class='output'>
        {{ today }}<br>
        {{ today | date:"dd MMM yyyy"}}<br>
        {{ today | date:"hh:mm a"}}<br>
      </div>
    </div>
    <div class='case'>
      <div class='source ng-non-bindable htmlSrc'>
        {{ inputText }}<br>
        {{ inputText | uppercase }}<br>
        {{ inputText | lowercase }}<br>
        <div class='arrow_box'></div>
      </div>
      <div class='output'>
        {{ inputText }}<br>
        {{ inputText | uppercase }}<br>
        {{ inputText | lowercase }}<br>
      </div>
    </div>
    <div class='case'>
      <div class='source ng-non-bindable htmlSrc'>
        {{ num }}<br>
        {{ num | number:0 }}<br>
        {{ num | number:4 }}<br>
        <div class='arrow_box'></div>
      </div>
      <div class='output'>
        {{ num }}<br>
        {{ num | number:0 }}<br>
        {{ num | number:4 }}<br>

      </div>
    </div>
  </div>
</div>
<div id='directives-intro' class='step majorPaneTitle' data-y='2320' data-x='3320'>
  <h2>Directives</h2>

</div>
<div id='directives' class='step twoPane majorPane' data-y='2769' data-x='3320' data-rotate='-90'>
  <h6 class='smallTitle'>
    Directives
  </h6>
  <div class='panes' ng-controller='directivesCtrl'>
    <div class='icon'></div>
    <div class='case'>
      <div class='source ng-non-bindable htmlSrc'>
        &lt;tr ng-repeat="entry in phonebook"&gt;<br>
        &nbsp;&nbsp;&lt;td&gt;{{ entry.name }}&lt;/td&gt;<br>
        &nbsp;&nbsp;&lt;td&gt;{{ entry.number }}&lt;/td&gt;<br>
        &lt;/tr&gt;<br>
        <div class='arrow_box'></div>
      </div>
      <div class='output'>
        <table>
          <thead>
            <tr>
              <td>Name</td>
              <td>Number</td>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat='entry in phonebook'>
              <td>{{ entry.name }}</td>
              <td>{{ entry.number }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class='case'>
      <div class='source ng-non-bindable htmlSrc'>
        &lt;input type="checkbox"<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ng-model="checkValue"/&gt;<br>
        &lt;p ng-show="checkValue"&gt;It's been checked.&lt;/p&gt;<br>
        &lt;p ng-hide="checkValue"&gt;It's not checked.&lt;/p&gt;<br>
        <div class='arrow_box'></div>
      </div>
      <div class='output'>
        <input ng-model='checkValue' type='checkbox' />
        <p ng-show='checkValue'>It's been checked.</p>
        <p ng-hide='checkValue'>It's not checked.</p>
      </div>
    </div>
    <div class='case'>
      <div class='source ng-non-bindable htmlSrc'>
        &lt;button<br>
        &nbsp;ng-click="count = count + 1"<br>
        &nbsp;ng-init="count = 0"&gt;<br>

        &nbsp;&nbsp;Raise Counter&lt;/button&gt;<br>
        &lt;p&gt;Count: {{ count }}&lt;/p&gt;<br>
        <div class='arrow_box'></div>
      </div>
      <div class='output'>
        <button ng-click='count = count + 1' ng-init='count = 0'>
          Raise Counter
        </button>
        <p>Count: {{ count }}</p>
      </div>
    </div>
    <div class='case'>
      <div class='source ng-non-bindable htmlSrc'>
        &lt;p<br>
        &nbsp;ng-mouseenter="msg = 'MouseIn'"<br>
        &nbsp;ng-mouseleave="msg = 'MouseOut'"<br>
        &nbsp;ng-init="msg = 'Never Entered'"&gt;<br>
        &nbsp;&nbsp;{{ msg }}<br>
        &lt;/p&gt;<br>
        <div class='arrow_box'></div>
      </div>
      <div class='output'>
        <p ng-mouseenter='msg = "MouseIn"' ng-init='msg = "Never Entered"' ng-mouseleave='msg = "MouseOut"'>
          {{ msg }}

        </p>
      </div>
    </div>
  </div>
</div>
<div id='angular-pullout1' class='step' data-y='6000' data-x='0' data-scale='10'></div>
<div id='modules-intro' class='step majorPaneTitle' data-y='2320' data-x='-1980'>
  <h2>Application Core</h2>

</div>
<div id='modules' class='step codePane majorPane' data-y='2769' data-x='-1980' data-rotate='-90'>
  <h6 class='smallTitle'>
    Application Core
  </h6>
  <div class='panes'>
    <div class='icon'></div>
    <div class='case'>
      <div class='js ng-non-bindable'>
        app = angular.module('myApp', <span class="hoverUncover">[<span class="covered">'tundra','storage'</span>]</span>);
      </div>
      <div class='htmlSrc ng-non-bindable'>
        &lt;html ng-app="myApp"&gt;<br>
        &lt;body&gt;<br>
        &nbsp;&nbsp;&lt;p&gt;{{ 'Hello there' + ' AngularJS' }}&lt;/p&gt;<br>
        &lt;/body&gt;<br>
        &lt;/html&gt;
      </div>
      <div class='output'>
        <p>{{ 'Hello there' + ' AngularJS' }}</p>
      </div>
    </div>
    <br>
    <div class='case'>
      <div class='js ng-non-bindable'>
        app = angular.module('myRoutedApp', []).config([</br>
        &nbsp;&nbsp;'$routeProvider', function ($routeProvider) &#123;</br>
        &nbsp;&nbsp;&nbsp;&nbsp;$routeProvider.<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;when('/', &#123;<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;templateUrl: 'partials/home.html',<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;controller: 'homeCtrl'<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#125;).<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;when('/page/:pageID', &#123;<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;templateUrl: 'partials/page.html',<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;controller: 'pageCtrl'<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#125;).<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;when('/settings', &#123;<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;templateUrl: 'partials/settings.html',<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;controller: 'settingsCtrl'<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#125;).otherwise(&#123;redirectTo: '/'&#125;);<br>
        &nbsp;&nbsp;&#125;);<br>
      </div>
      <div class='htmlSrc ng-non-bindable'>
        &lt;html ng-app="myRoutedApp"&gt;<br>
        &lt;body&gt;<br>
        &nbsp;&nbsp;&lt;div ng-view&gt;&lt;/div&gt;<br>
        &lt;/body&gt;<br>
        &lt;/html&gt;

      </div>
    </div>
  </div>
</div>
<div id='controllers-intro' class='step majorPaneTitle' data-y='2320' data-x='-3320'>
  <h2>Controllers</h2>

</div>
<div id='controllers' class='step codePane majorPane' data-y='2769' data-x='-3320' data-rotate='-90'>
  <h6 class='smallTitle'>Controllers</h6>
  <div class='panes'>
    <div class='icon'></div>
    <div class='case'>
      <div class='js ng-non-bindable'>
        app.controller('exampleCtrl', function ($scope) &#123;<br>
        &nbsp;&nbsp;$scope.message = 'This is a message.';<br>
        &nbsp;&nbsp;$scope.inputMsg = 'Type here.';<br>
        <br>
        &nbsp;&nbsp;$scope.addToMessage = function() &#123;<br>
        &nbsp;&nbsp;&nbsp;&nbsp;$scope.message = $scope.message + ' ' + $scope.inputMsg;<br>
        &nbsp;&nbsp;&nbsp;&nbsp;$scope.inputMsg = '';<br>
        &nbsp;&nbsp;&#125;;<br>
        &#125;);<br>
      </div>
      <div class='htmlSrc ng-non-bindable'>
        &lt;div ng-controller="exampleCtrl"&gt;<br>
        &nbsp;&nbsp;&lt;p&gt;{{ message }}&lt;/p&gt;<br>
        <br>
        &nbsp;&nbsp;&lt;form ng-submit="addToMessage()"/&gt;<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&lt;input type="text" ng-model="inputMsg"/&gt;<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&lt;input type="submit" value="Add To Messsage"/&gt;<br>
        &nbsp;&nbsp;&lt;/form&gt;<br>
        <br>
        &lt;/div&gt;
      </div>
      <div class='output' ng-controller='exampleCtrl'>
        <p>{{ message }}</p>
        <br />
        <form ng-submit='addToMessage()'>
          <input ng-model='inputMsg' type='text' size='50' />
          <input type='submit' value='Add To Message' />

        </form>
      </div>
    </div>
  </div>
</div>
<div id='services-intro' class='step majorPaneTitle' data-y='3420' data-x='-3320'>
  <h2>Services</h2>

</div>
<div id='services' class='step codePane majorPane' data-y='3869' data-x='-3320' data-rotate='-90'>
  <h6 class='smallTitle'>Some Examples of Services</h6>
  <div class='panes'>
    <div class='icon'></div>
    <div class='case'>
      <div class='output'>
        <h5>$http Service</h5>
        <p>Communicate with a web address to send or get information.</p>
      </div>
      <div class='js ng-non-bindable'>
        exampleCtrl = function ($scope, $http) &#123;<br>
        &nbsp;&nbsp;$http.get('/someUrl').success(successCallback);<br>
        &#125;<br>
      </div>
    </div>
    <br />
    <div class='case'>
      <div class='output'>
        <h5>$routeParams Service</h5>
        <p>Get parameters from the current route.</p>
      </div>
      <div class='js ng-non-bindable'>
        app = angular.module('myRoutedApp', []).config([</br>
        &nbsp;&nbsp;'$routeProvider', function ($routeProvider) &#123;</br>
        &nbsp;&nbsp;&nbsp;&nbsp;$routeProvider.<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;when('/page/:pageID', &#123;<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;templateUrl: 'partials/page.html',<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;controller: 'pageCtrl'<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#125;);<br>
        &nbsp;&nbsp;&#125;);<br>
        <br>
        exampleCtrl = function ($scope, $routeParams) &#123;<br>
        &nbsp;&nbsp;$scope.pageID = $routeParams.pageID;<br>
        &#125;);<br>
      </div>
    </div>
    <br />
    <div class='case'>
      <div class='output'>
        <h5>$location Service</h5>
        <p>Get the current url of the application, including GET parameters.</p>
        <p><em>/page/23/?terms=someSearchTerm&tags=someTags</em></p>
      </div>
      <div class='js ng-non-bindable'>
        exampleCtrl = function ($scope, $location) &#123;<br>
        &nbsp;&nbsp;$scope.searchTerms = $location.search('terms');<br>
        &#125;<br>


      </div>
    </div>
  </div>
</div>
<div id='angular-pullout2' class='step' data-y='6000' data-x='0' data-scale='10'></div>
<div id='addressBookApp' class='step' data-y='3500' data-x='8000' data-scale='5' data-rotate='-90'>
  <h2>A Practical Example</h2>
  <div id='addressBookDemo' ng-controller='addressBookCtrl'>
    <p class='search'>
      <label>Search</label>
      <input ng-model='searchTerm' type='text' />
    </p>
    <table>
      <thead>
        <td>First Name</td>
        <td>Last Name</td>
        <td>Email</td>
        <td>Phone</td>
        <td>Actions</td>
      </thead>
      <tbody>
        <tr ng-class='{editing: entryBeingEdited == entry}' ng-repeat='entry in addressBook | filter:{$: searchTerm}'>
          <td class='firstName'>
            <span class='display'>{{ entry.firstName }}</span>
            <input class='edit' ng-model='editingCopy.firstName' type='text' />
          </td>
          <td class='lastName'>
            <span class='display'>{{ entry.lastName }}</span>
            <input class='edit' ng-model='editingCopy.lastName' type='text' />
          </td>
          <td class='email'>
            <span class='display'>{{ entry.email }}</span>
            <input class='edit' ng-model='editingCopy.email' type='text' />
          </td>
          <td class='phone'>
            <span class='display'>{{ entry.phone }}</span>
            <input class='edit' ng-model='editingCopy.phone' type='text' />
          </td>
          <td class='actions'>
            <span class='display'>
              <a ng-click='editEntry(entry)'>Edit</a>
              <a ng-click='deleteEntry(entry)'>Delete</a>
            </span>
            <span class='edit'>
              <a ng-click='saveEditingEntry()'>Save</a>
              <a ng-click='cancelEditingEntry()'>Cancel</a>
            </span>
          </td>
        </tr>
        <tr class='addEntryInput' ng-show='newEntry'>
          <td class='firstName'>
            <input ng-model='newEntry.firstName' type='text' />
          </td>
          <td class='lastName'>
            <input ng-model='newEntry.lastName' type='text' />
          </td>
          <td class='email'>
            <input ng-model='newEntry.email' type='text' />
          </td>
          <td class='phone'>
            <input ng-model='newEntry.phone' type='text' />
          </td>
          <td class='actions'>
            <a ng-click='saveNewEntry()'>Save</a>
            <a ng-click='clearNewEntry()'>Cancel</a>
          </td>
        </tr>
        <tr class='addEntryLink' ng-hide='newEntry'>
          <td colspan='5'>
            <a ng-click='startAddingEntry()'>Add an Entry</a>

          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div id='bookLineHTML' class='step codeFloat' data-y='-1000' data-x='9500' data-scale='5' data-rotate='-90'>
  <div class='htmlSrc ng-non-bindable'>

<div class="highlight"><pre><span class="o">&lt;</span><span class="n">p</span> <span class="n">class</span><span class="o">=</span><span class="s">&quot;search&quot;</span><span class="o">&gt;</span>
  <span class="o">&lt;</span><span class="n">label</span><span class="o">&gt;</span><span class="n">Search</span><span class="o">&lt;/</span><span class="n">label</span><span class="o">&gt;</span>
  <span class="o">&lt;</span><span class="n">input</span> <span class="n">type</span><span class="o">=</span><span class="s">&quot;text&quot;</span> <span class="n">ng</span><span class="o">-</span><span class="n">model</span><span class="o">=</span><span class="s">&quot;searchTerm&quot;</span><span class="o">&gt;</span>
<span class="o">&lt;/</span><span class="n">p</span><span class="o">&gt;</span>

<span class="o">&lt;</span><span class="n">tr</span> <span class="n">ng</span><span class="o">-</span><span class="n">class</span><span class="o">=</span><span class="s">&quot;{editing: entryBeingEdited == entry}&quot;</span>
    <span class="n">ng</span><span class="o">-</span><span class="n">repeat</span><span class="o">=</span>
      <span class="s">&quot;entry in addressBook | filter:{$: searchTerm}&quot;</span><span class="o">&gt;</span>

 <span class="o">&lt;</span><span class="n">td</span> <span class="n">class</span><span class="o">=</span><span class="s">&quot;firstName&quot;</span><span class="o">&gt;</span>
  <span class="o">&lt;</span><span class="n">span</span> <span class="n">class</span><span class="o">=</span><span class="s">&quot;display&quot;</span><span class="o">&gt;</span><span class="p">{{</span> <span class="n">entry</span><span class="p">.</span><span class="n">firstName</span> <span class="p">}}</span><span class="o">&lt;/</span><span class="n">span</span><span class="o">&gt;</span>
  <span class="o">&lt;</span><span class="n">input</span> <span class="n">class</span><span class="o">=</span><span class="s">&quot;edit&quot;</span> <span class="n">ng</span><span class="o">-</span><span class="n">model</span><span class="o">=</span><span class="s">&quot;editingCopy.firstName&quot;</span><span class="o">&gt;</span>
 <span class="o">&lt;/</span><span class="n">td</span><span class="o">&gt;</span>

<span class="p">..</span><span class="n">and</span> <span class="n">so</span> <span class="n">on</span><span class="p">...</span>

 <span class="o">&lt;</span><span class="n">td</span> <span class="n">class</span><span class="o">=</span><span class="s">&quot;actions&quot;</span><span class="o">&gt;</span>
  <span class="o">&lt;</span><span class="n">span</span> <span class="n">class</span><span class="o">=</span><span class="s">&quot;display&quot;</span><span class="o">&gt;</span>
   <span class="o">&lt;</span><span class="n">a</span> <span class="n">ng</span><span class="o">-</span><span class="n">click</span><span class="o">=</span><span class="s">&quot;editEntry(entry)&quot;</span><span class="o">&gt;</span><span class="n">Edit</span><span class="o">&lt;/</span><span class="n">a</span><span class="o">&gt;</span>
   <span class="o">&lt;</span><span class="n">a</span> <span class="n">ng</span><span class="o">-</span><span class="n">click</span><span class="o">=</span><span class="s">&quot;deleteEntry(entry)&quot;</span><span class="o">&gt;</span><span class="n">Delete</span><span class="o">&lt;/</span><span class="n">a</span><span class="o">&gt;</span>
  <span class="o">&lt;/</span><span class="n">span</span><span class="o">&gt;</span>
  <span class="o">&lt;</span><span class="n">span</span> <span class="n">class</span><span class="o">=</span><span class="s">&quot;edit&quot;</span><span class="o">&gt;</span>
   <span class="o">&lt;</span><span class="n">a</span> <span class="n">ng</span><span class="o">-</span><span class="n">click</span><span class="o">=</span><span class="s">&quot;saveEditingEntry()&quot;</span><span class="o">&gt;</span><span class="n">Save</span><span class="o">&lt;/</span><span class="n">a</span><span class="o">&gt;</span>
   <span class="o">&lt;</span><span class="n">a</span> <span class="n">ng</span><span class="o">-</span><span class="n">click</span><span class="o">=</span><span class="s">&quot;cancelEditingEntry()&quot;</span><span class="o">&gt;</span><span class="n">Cancel</span><span class="o">&lt;/</span><span class="n">a</span><span class="o">&gt;</span>
  <span class="o">&lt;/</span><span class="n">span</span><span class="o">&gt;</span>
 <span class="o">&lt;/</span><span class="n">td</span><span class="o">&gt;</span>

<span class="o">&lt;/</span><span class="n">tr</span><span class="o">&gt;</span>
</pre></div>
    <div class='arrow_left'></div>
  </div>
</div>
<div id='bookLineJS' class='step codeFloat' data-y='-5100' data-x='9500' data-scale='5' data-rotate='-90'>
  <div class='js ng-non-bindable'>

<div class="highlight"><pre><span class="n">app</span><span class="p">.</span><span class="n">controller</span><span class="p">(</span><span class="s">&quot;addressBookCtrl&quot;</span><span class="p">,</span> <span class="n">function</span> <span class="p">(</span><span class="err">$</span><span class="n">scope</span><span class="p">)</span> <span class="p">{</span>
  <span class="n">book</span> <span class="o">=</span> <span class="err">$</span><span class="n">scope</span><span class="p">.</span><span class="n">addressBook</span><span class="p">;</span>
  <span class="err">$</span><span class="n">scope</span><span class="p">.</span><span class="n">searchTerm</span> <span class="o">=</span> <span class="s">&quot;&quot;</span>

  <span class="err">$</span><span class="n">scope</span><span class="p">.</span><span class="n">deleteEntry</span> <span class="o">=</span> <span class="n">function</span> <span class="p">(</span><span class="n">entry</span><span class="p">)</span> <span class="p">{</span>
    <span class="n">index</span> <span class="o">=</span> <span class="n">book</span><span class="p">.</span><span class="n">indexOf</span><span class="p">(</span><span class="n">entry</span><span class="p">)</span>
    <span class="k">if</span> <span class="p">(</span><span class="n">index</span> <span class="o">!=</span> <span class="o">-</span><span class="mi">1</span><span class="p">)</span> <span class="p">{</span>
      <span class="n">book</span><span class="p">.</span><span class="n">splice</span><span class="p">(</span><span class="n">index</span><span class="p">,</span> <span class="mi">1</span><span class="p">);</span>
    <span class="p">}</span>
  <span class="p">}</span>

  <span class="err">$</span><span class="n">scope</span><span class="p">.</span><span class="n">editEntry</span> <span class="o">=</span> <span class="n">function</span> <span class="p">(</span><span class="n">entry</span><span class="p">)</span> <span class="p">{</span>
    <span class="err">$</span><span class="n">scope</span><span class="p">.</span><span class="n">editingCopy</span> <span class="o">=</span> <span class="n">angular</span><span class="p">.</span><span class="n">copy</span><span class="p">(</span><span class="n">entry</span><span class="p">);</span>
    <span class="err">$</span><span class="n">scope</span><span class="p">.</span><span class="n">entryBeingEdited</span> <span class="o">=</span> <span class="n">entry</span><span class="p">;</span>
  <span class="p">}</span>

  <span class="err">$</span><span class="n">scope</span><span class="p">.</span><span class="n">cancelEditingEntry</span> <span class="o">=</span> <span class="n">function</span> <span class="p">()</span> <span class="p">{</span>
    <span class="n">delete</span> <span class="err">$</span><span class="n">scope</span><span class="p">.</span><span class="n">entryBeingEdited</span><span class="p">;</span>
    <span class="n">delete</span> <span class="err">$</span><span class="n">scope</span><span class="p">.</span><span class="n">editingCopy</span><span class="p">;</span>
  <span class="p">}</span>

  <span class="err">$</span><span class="n">scope</span><span class="p">.</span><span class="n">saveEditingEntry</span> <span class="o">=</span> <span class="n">function</span> <span class="p">()</span> <span class="p">{</span>
    <span class="n">angular</span><span class="p">.</span><span class="n">extend</span><span class="p">(</span><span class="err">$</span><span class="n">scope</span><span class="p">.</span><span class="n">entryBeingEdited</span><span class="p">,</span>
                   <span class="err">$</span><span class="n">scope</span><span class="p">.</span><span class="n">editingCopy</span><span class="p">);</span>
    <span class="err">$</span><span class="n">scope</span><span class="p">.</span><span class="n">cancelEditingEntry</span><span class="p">();</span>
  <span class="p">}</span>
<span class="p">});</span>
</pre></div>
    <div class='arrow_left'></div>
  </div>
</div>
<div id='addLineHTML' class='step codeFloat' data-y='7900' data-x='9700' data-scale='5' data-rotate='-90'>
  <div class='htmlSrc ng-non-bindable'>

<div class="highlight"><pre><span class="o">&lt;</span><span class="n">tr</span> <span class="n">class</span><span class="o">=</span><span class="s">&quot;addEntryInput&quot;</span> <span class="n">ng</span><span class="o">-</span><span class="n">show</span><span class="o">=</span><span class="s">&quot;newEntry&quot;</span><span class="o">&gt;</span>
  <span class="o">&lt;</span><span class="n">td</span> <span class="n">class</span><span class="o">=</span><span class="s">&quot;firstName&quot;</span><span class="o">&gt;</span>
    <span class="o">&lt;</span><span class="n">input</span> <span class="n">type</span><span class="o">=</span><span class="s">&quot;text&quot;</span> <span class="n">ng</span><span class="o">-</span><span class="n">model</span><span class="o">=</span><span class="s">&quot;newEntry.firstName&quot;</span><span class="o">&gt;</span>
  <span class="o">&lt;/</span><span class="n">td</span><span class="o">&gt;</span>

  <span class="o">&lt;</span><span class="n">td</span> <span class="n">class</span><span class="o">=</span><span class="s">&quot;actions&quot;</span><span class="o">&gt;</span>
    <span class="o">&lt;</span><span class="n">a</span> <span class="n">ng</span><span class="o">-</span><span class="n">click</span><span class="o">=</span><span class="s">&quot;saveNewEntry()&quot;</span><span class="o">&gt;</span><span class="n">Save</span><span class="o">&lt;/</span><span class="n">a</span><span class="o">&gt;</span>
    <span class="o">&lt;</span><span class="n">a</span> <span class="n">ng</span><span class="o">-</span><span class="n">click</span><span class="o">=</span><span class="s">&quot;clearNewEntry()&quot;</span><span class="o">&gt;</span><span class="n">Cancel</span><span class="o">&lt;/</span><span class="n">a</span><span class="o">&gt;</span>
  <span class="o">&lt;/</span><span class="n">td</span><span class="o">&gt;</span>
<span class="o">&lt;/</span><span class="n">tr</span><span class="o">&gt;</span>

<span class="o">&lt;</span><span class="n">tr</span> <span class="n">class</span><span class="o">=</span><span class="s">&quot;addEntryLink&quot;</span> <span class="n">ng</span><span class="o">-</span><span class="n">hide</span><span class="o">=</span><span class="s">&quot;newEntry&quot;</span><span class="o">&gt;</span>
  <span class="o">&lt;</span><span class="n">td</span> <span class="n">colspan</span><span class="o">=</span><span class="s">&quot;5&quot;</span><span class="o">&gt;</span>
    <span class="o">&lt;</span><span class="n">a</span> <span class="n">ng</span><span class="o">-</span><span class="n">click</span><span class="o">=</span><span class="s">&quot;startAddingEntry()&quot;</span><span class="o">&gt;</span><span class="n">Add</span> <span class="n">an</span> <span class="n">Entry</span><span class="o">&lt;/</span><span class="n">a</span><span class="o">&gt;</span>
  <span class="o">&lt;/</span><span class="n">td</span><span class="o">&gt;</span>
<span class="o">&lt;/</span><span class="n">tr</span><span class="o">&gt;</span>
</pre></div>
    <div class='arrow_right'></div>
  </div>
</div>
<div id='addLineJS' class='step codeFloat' data-y='12000' data-x='9700' data-scale='5' data-rotate='-90'>
  <div class='js ng-non-bindable'>

<div class="highlight"><pre><span class="n">app</span><span class="p">.</span><span class="n">controller</span><span class="p">(</span><span class="s">&quot;addressBookCtrl&quot;</span><span class="p">,</span> <span class="n">function</span> <span class="p">(</span><span class="err">$</span><span class="n">scope</span><span class="p">)</span> <span class="p">{</span>
  <span class="n">book</span> <span class="o">=</span> <span class="err">$</span><span class="n">scope</span><span class="p">.</span><span class="n">addressBook</span><span class="p">;</span>

  <span class="err">$</span><span class="n">scope</span><span class="p">.</span><span class="n">startAddingEntry</span> <span class="o">=</span> <span class="n">function</span> <span class="p">()</span> <span class="p">{</span>
    <span class="err">$</span><span class="n">scope</span><span class="p">.</span><span class="n">newEntry</span> <span class="o">=</span> <span class="p">{</span>
      <span class="nl">firstName:</span> <span class="s">&quot;&quot;</span><span class="p">,</span> <span class="n">lastName</span><span class="o">:</span> <span class="s">&quot;&quot;</span><span class="p">,</span>
      <span class="nl">email:</span> <span class="s">&quot;&quot;</span><span class="p">,</span> <span class="n">phone</span><span class="o">:</span> <span class="s">&quot;&quot;</span>
    <span class="p">};</span>
  <span class="p">};</span>

  <span class="err">$</span><span class="n">scope</span><span class="p">.</span><span class="n">clearNewEntry</span> <span class="o">=</span> <span class="n">function</span> <span class="p">()</span> <span class="p">{</span>
    <span class="n">delete</span> <span class="err">$</span><span class="n">scope</span><span class="p">.</span><span class="n">newEntry</span><span class="p">;</span>
  <span class="p">};</span>

  <span class="err">$</span><span class="n">scope</span><span class="p">.</span><span class="n">saveNewEntry</span> <span class="o">=</span> <span class="n">function</span> <span class="p">()</span> <span class="p">{</span>
    <span class="n">book</span><span class="p">.</span><span class="n">push</span><span class="p">(</span><span class="err">$</span><span class="n">scope</span><span class="p">.</span><span class="n">newEntry</span><span class="p">);</span>
    <span class="err">$</span><span class="n">scope</span><span class="p">.</span><span class="n">clearNewEntry</span><span class="p">();</span>
  <span class="p">};</span>

<span class="p">});</span>
</pre></div>
    <div class='arrow_right'></div>
  </div>
</div>
<div id='thats-actually-it' class='step' data-y='3500' data-x='10000' data-scale='6' data-rotate='-90'>
  <h2>
    <br>
    <br>
    That's actually it!

  </h2>
</div>
<div id='show-everything' class='step' data-y='3700' data-x='0' data-scale='20'>
  <div class='callout'>
    <ul>
      <li>
        <a href="http://angularjs.org">AngularJS</a> by <a href="http://www.google.com">Google</a>
      </li>
      <li>
        <a href="http://bartaz.github.io/impress.js">impress.js</a> by <a href="http://bartaz.github.io/">Bartaz</a>
      </li>
      <li>
        <br>
      </li>
      <li>
        Icons from <a href="http://fortawesome.github.io/Font-Awesome/">Font Awesome</a>
      </li>
      <li>
        Oxygen font by <a href="http://code.newtypography.co.uk/">Vernon Adams</a>
      </li>
      <li>
        <br>
      </li>
      <li>
        Presented by <a href="mailto:james@fullandbydesign.com.au">James Rakich</a>
      </li>
    </ul>
    <ul class='mini'>
      <li>Twitter: <a href="http://twitter.com/MalucoMarinero">@MalucoMarinero</a></li>
      <li>Github: <a href="http://github.com/MalucoMarinero">MalucoMarinero</a></li>
      <li>Portfolio: <a href="http://fullandbydesign.com.au">Full And By Design</a></li>
    </ul>
    <ul>
      <li>Thanks for watching!</li>


    </ul>
  </div>
</div>
</div>
<script src='js/components/impress.js'></script>
<script type='text/javascript'>
// <![CDATA[
  impress().init();
  inputs = document.getElementsByTagName("input");
  for (var i = 0; i < inputs.length; i++) {
    inputs[i].addEventListener("keyup", function(event) {
      event.stopImmediatePropagation();
    }, false);
    inputs[i].addEventListener("keydown", function(event) {
      if (event.keyCode == 32) {
        event.target.value = event.target.value + ' ';
      }
    }, false);
  }

// ]]>
</script>

</body>
</html>
