!!! 5

-# <!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
-# <!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
-# <!--[if IE 8]> <html class="no-js lt-ie9"> <![endif]-->
-# <!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

%head
  %meta{'charset': 'utf-8'}
  %meta{'http-equiv': 'X-UA-Compatible', 'content': 'IE=edge,chrome=1'}
  %title
  %meta{'name': 'description', 'content': ''}
  %meta{'name': 'viewport', 'content': 'width=1044'}
  <link href='http://fonts.googleapis.com/css?family=Oxygen+Mono|Oxygen:400,700' rel='stylesheet' type='text/css'>
  %link{'rel': 'stylesheet', 'href': 'css/style.css'}/
  %script{'src': 'js/components/angular-complete/angular.js'}
  %script{'src': 'js/app.js'}

<body class="impress-not-supported" ng-app="angularIntro">
-# <!--[if lt IE 7]>
-# <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
-# <![endif]-->

%div.fallback-message
  %p
    Your browser <strong>doesn't support the features</strong> required by impress.js, so you'll get a simplified version.
  %p
    For the best experience use the latest <strong>Chrome</strong>, <strong>Safari</strong> or <strong>Firefox</strong> browser.

<div id="impress">

#title.step{'data-x': '-10000', 'data-y': '-3800', 'data-scale': '8'}
  %h2 Introduction to
  %h1 AngularJS

#subtitle.step{'data-x': '0', 'data-y': '-2500', 'data-scale': '6'}
  %h2 Ditching the Duct Tape
  %ul.wiring
    %li.jquery
      %img{'src': 'img/brands/jquery.png', 'alt': 'jQuery'}/
    %li.mootools
      %img{'src': 'img/brands/mootools.png', 'alt': 'MooTools'}/
    %li.scriptaculous
      %img{'src': 'img/brands/scriptaculous_logo.png', 'alt': 'Scriptaculous'}/
  %ul.uses
    %li Reading the DOM
    %li DOM Transformation
    %li AJAX Operations
    %li Special Effects

#angular-intro.step{'data-x': '0', 'data-y': '6000', 'data-scale':'10'}
  %h2 Enter AngularJS
  %img{'src': 'img/databinding.png', 'alt': 'Data Binding'}/
  %img{'src': 'img/scopemodular.png', 'alt': 'Data Scope and Modular Code'}/

#html-side

-# relation 320 -> 823
#variables-intro.step.majorPaneTitle{'data-x': '1980', 'data-y': '2320'}
  %h2
    Variables & Expressions

#variables.step.twoPane.majorPane{'data-x': '1980', 'data-y': '2769', 'data-rotate': '-90'}
  %h6.smallTitle
    Variables & Expressions
  .panes{'ng-controller': 'variablesCtrl'}
    .icon
    .case
      .source.ng-non-bindable.htmlSrc
        {{ 5 + 7 }}
        .arrow_box
      .output
        {{ 5 + 7 }}
    .case
      .source.ng-non-bindable.htmlSrc
        {{ true == true }}
        .arrow_box
      .output
        {{ true == true }}
    .case
      .source.ng-non-bindable.htmlSrc
        {{ true == false }}
        .arrow_box
      .output
        {{ true == false }}
    .case
      .source.ng-non-bindable.htmlSrc
        &lt;input type="text"<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ng-model="inputText"/&gt;<br>
        {{ inputText }}
        .arrow_box
      .output
        %input{'type': 'text', 'ng-model': 'inputText'}
        %p {{ inputText }}
    .case
      .source.ng-non-bindable.htmlSrc
        ( {{ nonExistant }} )<br>
        .arrow_box
      .output
        ( {{ nonExistant }} )
    .case
      .source.ng-non-bindable.htmlSrc
        {{ today }}<br>
        {{ today | date:"dd MMM yyyy"}}<br>
        {{ today | date:"hh:mm a"}}<br>
        .arrow_box
      .output
        {{ today }}<br>
        {{ today | date:"dd MMM yyyy"}}<br>
        {{ today | date:"hh:mm a"}}<br>
    .case
      .source.ng-non-bindable.htmlSrc
        {{ inputText }}<br>
        {{ inputText | uppercase }}<br>
        {{ inputText | lowercase }}<br>
        .arrow_box
      .output
        {{ inputText }}<br>
        {{ inputText | uppercase }}<br>
        {{ inputText | lowercase }}<br>
    .case
      .source.ng-non-bindable.htmlSrc
        {{ num }}<br>
        {{ num | number:0 }}<br>
        {{ num | number:4 }}<br>
        .arrow_box
      .output
        {{ num }}<br>
        {{ num | number:0 }}<br>
        {{ num | number:4 }}<br>

-# relation 320 -> 823
#directives-intro.step.majorPaneTitle{'data-x': '3320', 'data-y': '2320'}
  %h2 Directives

#directives.step.twoPane.majorPane{'data-x': '3320', 'data-y': '2769', 'data-rotate': '-90'}
  %h6.smallTitle
    Directives
  .panes{'ng-controller': 'directivesCtrl'}
    .icon
    .case
      .source.ng-non-bindable.htmlSrc
        &lt;tr ng-repeat="entry in phonebook"&gt;<br>
        &nbsp;&nbsp;&lt;td&gt;{{ entry.name }}&lt;/td&gt;<br>
        &nbsp;&nbsp;&lt;td&gt;{{ entry.number }}&lt;/td&gt;<br>
        &lt;/tr&gt;<br>
        .arrow_box
      .output
        %table
          %thead
            %tr
              %td Name
              %td Number
          %tbody
            %tr{'ng-repeat': 'entry in phonebook'}
              %td {{ entry.name }}
              %td {{ entry.number }}
    .case
      .source.ng-non-bindable.htmlSrc
        &lt;input type="checkbox"<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ng-model="checkValue"/&gt;<br>
        &lt;p ng-show="checkValue"&gt;It's been checked.&lt;/p&gt;<br>
        &lt;p ng-hide="checkValue"&gt;It's not checked.&lt;/p&gt;<br>
        .arrow_box
      .output
        %input{'type': 'checkbox', 'ng-model': 'checkValue'}
        %p{'ng-show': 'checkValue'} It's been checked.
        %p{'ng-hide': 'checkValue'} It's not checked.
    .case
      .source.ng-non-bindable.htmlSrc
        &lt;button<br>
        &nbsp;ng-click="count = count + 1"<br>
        &nbsp;ng-init="count = 0"&gt;<br>

        &nbsp;&nbsp;Raise Counter&lt;/button&gt;<br>
        &lt;p&gt;Count: {{ count }}&lt;/p&gt;<br>
        .arrow_box
      .output
        %button{'ng-click': 'count = count + 1', 'ng-init': 'count = 0'}
          Raise Counter
        %p Count: {{ count }}
    .case
      .source.ng-non-bindable.htmlSrc
        &lt;p<br>
        &nbsp;ng-mouseenter="msg = 'MouseIn'"<br>
        &nbsp;ng-mouseleave="msg = 'MouseOut'"<br>
        &nbsp;ng-init="msg = 'Never Entered'"&gt;<br>
        &nbsp;&nbsp;{{ msg }}<br>
        &lt;/p&gt;<br>
        .arrow_box
      .output
        %p{'ng-mouseenter': 'msg = "MouseIn"', 'ng-mouseleave': 'msg = "MouseOut"', 'ng-init': 'msg = "Never Entered"'}
          {{ msg }}

#angular-pullout1.step{'data-x': '0', 'data-y': '6000', 'data-scale':'10'}

#modules-intro.step.majorPaneTitle{'data-x': '-1980', 'data-y': '2320'}
  %h2 Application Core

#modules.step.codePane.majorPane{'data-x': '-1980', 'data-y': '2769', 'data-rotate': '-90'}
  %h6.smallTitle
    Application Core
  .panes
    .icon
    .case
      .js.ng-non-bindable
        app = angular.module('myApp', <span class="hoverUncover">[<span class="covered">'tundra','storage'</span>]</span>);
      .htmlSrc.ng-non-bindable
        &lt;html ng-app="myApp"&gt;<br>
        &lt;body&gt;<br>
        &nbsp;&nbsp;&lt;p&gt;{{ 'Hello there' + ' AngularJS' }}&lt;/p&gt;<br>
        &lt;/body&gt;<br>
        &lt;/html&gt;
      .output
        %p= 'Hello there' + ' AngularJS'
    <br>
    .case
      .js.ng-non-bindable
        app = angular.module('myRoutedApp', []).config([</br>
        &nbsp;&nbsp;'$routeProvider', function ($routeProvider) &#123;</br>
        &nbsp;&nbsp;&nbsp;&nbsp;$routeProvider.<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;when('/', &#123;<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;templateUrl: 'partials/home.html',<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;controller: 'homeCtrl'<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#125;).<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;when('/page/:pageID', &#123;<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;templateUrl: 'partials/page.html',<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;controller: 'pageCtrl'<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#125;).<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;when('/settings', &#123;<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;templateUrl: 'partials/settings.html',<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;controller: 'settingsCtrl'<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#125;).otherwise(&#123;redirectTo: '/'&#125;);<br>
        &nbsp;&nbsp;&#125;);<br>
      .htmlSrc.ng-non-bindable
        &lt;html ng-app="myRoutedApp"&gt;<br>
        &lt;body&gt;<br>
        &nbsp;&nbsp;&lt;div ng-view&gt;&lt;/div&gt;<br>
        &lt;/body&gt;<br>
        &lt;/html&gt;
      
#controllers-intro.step.majorPaneTitle{'data-x': '-3320', 'data-y': '2320'}
  %h2 Controllers

#controllers.step.codePane.majorPane{'data-x': '-3320', 'data-y': '2769', 'data-rotate': '-90'}
  %h6.smallTitle Controllers
  .panes
    .icon
    .case
      .js.ng-non-bindable
        app.controller('exampleCtrl', function ($scope) &#123;<br>
        &nbsp;&nbsp;$scope.message = 'This is a message.';<br>
        &nbsp;&nbsp;$scope.inputMsg = 'Type here.';<br>
        <br>
        &nbsp;&nbsp;$scope.addToMessage = function() &#123;<br>
        &nbsp;&nbsp;&nbsp;&nbsp;$scope.message = $scope.message + ' ' + $scope.inputMsg;<br>
        &nbsp;&nbsp;&nbsp;&nbsp;$scope.inputMsg = '';<br>
        &nbsp;&nbsp;&#125;;<br>
        &#125;);<br>
      .htmlSrc.ng-non-bindable
        &lt;div ng-controller="exampleCtrl"&gt;<br>
        &nbsp;&nbsp;&lt;p&gt;{{ message }}&lt;/p&gt;<br>
        <br>
        &nbsp;&nbsp;&lt;form ng-submit="addToMessage()"/&gt;<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&lt;input type="text" ng-model="inputMsg"/&gt;<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&lt;input type="submit" value="Add To Messsage"/&gt;<br>
        &nbsp;&nbsp;&lt;/form&gt;<br>
        <br>
        &lt;/div&gt;
      .output{'ng-controller': 'exampleCtrl'}
        %p= message
        %br
        %form{'ng-submit': 'addToMessage()'}
          %input{'type': 'text', 'ng-model': 'inputMsg', 'size': '50'}
          %input{'type': 'submit', 'value': 'Add To Message'}

#services-intro.step.majorPaneTitle{'data-x': '-3320', 'data-y': '3420'}
  %h2 Services

#services.step.codePane.majorPane{'data-x': '-3320', 'data-y': '3869', 'data-rotate': '-90'}
  %h6.smallTitle Some Examples of Services
  .panes
    .icon
    .case
      .output
        %h5 $http Service
        %p Communicate with a web address to send or get information. 
      .js.ng-non-bindable
        exampleCtrl = function ($scope, $http) &#123;<br>
        &nbsp;&nbsp;$http.get('/someUrl').success(successCallback);<br>
        &#125;<br>
    %br
    .case
      .output
        %h5 $routeParams Service
        %p Get parameters from the current route.
      .js.ng-non-bindable
        app = angular.module('myRoutedApp', []).config([</br>
        &nbsp;&nbsp;'$routeProvider', function ($routeProvider) &#123;</br>
        &nbsp;&nbsp;&nbsp;&nbsp;$routeProvider.<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;when('/page/:pageID', &#123;<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;templateUrl: 'partials/page.html',<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;controller: 'pageCtrl'<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#125;);<br>
        &nbsp;&nbsp;&#125;);<br>
        <br>
        exampleCtrl = function ($scope, $routeParams) &#123;<br>
        &nbsp;&nbsp;$scope.pageID = $routeParams.pageID;<br>
        &#125;);<br>
    %br
    .case
      .output
        %h5 $location Service
        %p Get the current url of the application, including GET parameters.
        %p <em>/page/23/?terms=someSearchTerm&tags=someTags</em>
      .js.ng-non-bindable
        exampleCtrl = function ($scope, $location) &#123;<br>
        &nbsp;&nbsp;$scope.searchTerms = $location.search('terms');<br>
        &#125;<br>


#angular-pullout2.step{'data-x': '0', 'data-y': '6000', 'data-scale':'10'}

#addressBookApp.step{'data-x': '8000', 'data-y': '3500', 'data-rotate': '-90', 'data-scale': '5'}
  %h2 A Practical Example
  #addressBookDemo{'ng-controller': 'addressBookCtrl'}
    %p.search
      %label Search
      %input{'type': 'text', 'ng-model': 'searchTerm'}
    %table
      %thead
        %td First Name
        %td Last Name
        %td Email
        %td Phone
        %td Actions
      %tbody
        %tr{'ng-class': '{editing: entryBeingEdited == entry}',
            'ng-repeat': 'entry in addressBook | filter:{$: searchTerm}'}
          %td.firstName
            %span.display= entry.firstName
            %input.edit{'type': 'text', 'ng-model': 'editingCopy.firstName'}
          %td.lastName
            %span.display= entry.lastName
            %input.edit{'type': 'text', 'ng-model': 'editingCopy.lastName'}
          %td.email
            %span.display= entry.email
            %input.edit{'type': 'text', 'ng-model': 'editingCopy.email'}
          %td.phone
            %span.display= entry.phone
            %input.edit{'type': 'text', 'ng-model': 'editingCopy.phone'}
          %td.actions
            %span.display
              %a{'ng-click': 'editEntry(entry)'} Edit
              %a{'ng-click': 'deleteEntry(entry)'} Delete
            %span.edit
              %a{'ng-click': 'saveEditingEntry()'} Save
              %a{'ng-click': 'cancelEditingEntry()'} Cancel
        %tr.addEntryInput{'ng-show': 'newEntry'}
          %td.firstName
            %input{'type': 'text', 'ng-model': 'newEntry.firstName'}
          %td.lastName
            %input{'type': 'text', 'ng-model': 'newEntry.lastName'}
          %td.email
            %input{'type': 'text', 'ng-model': 'newEntry.email'}
          %td.phone
            %input{'type': 'text', 'ng-model': 'newEntry.phone'}
          %td.actions
            %a{'ng-click': 'saveNewEntry()'} Save
            %a{'ng-click': 'clearNewEntry()'} Cancel
        %tr.addEntryLink{'ng-hide': 'newEntry'}
          %td{'colspan': '5'}
            %a{'ng-click': 'startAddingEntry()'} Add an Entry

#bookLineHTML.step.codeFloat{'data-x': '9500', 'data-y': '-1000', 'data-rotate': '-90', 'data-scale': '5'} 
  .htmlSrc.ng-non-bindable
    :highlight
      <p class="search">
        <label>Search</label>
        <input type="text" ng-model="searchTerm">
      </p>

      <tr ng-class="{editing: entryBeingEdited == entry}"
          ng-repeat=
            "entry in addressBook | filter:{$: searchTerm}">
      
       <td class="firstName">
        <span class="display">{{ entry.firstName }}</span>
        <input class="edit" ng-model="editingCopy.firstName">
       </td>
      
      \..and so on...
      
       <td class="actions">
        <span class="display">
         <a ng-click="editEntry(entry)">Edit</a>
         <a ng-click="deleteEntry(entry)">Delete</a>
        </span>
        <span class="edit">
         <a ng-click="saveEditingEntry()">Save</a>
         <a ng-click="cancelEditingEntry()">Cancel</a>
        </span>
       </td>
      
      </tr>
    .arrow_left

    
#bookLineJS.step.codeFloat{'data-x': '9500', 'data-y': '-5100', 'data-rotate': '-90', 'data-scale': '5'} 
  .js.ng-non-bindable
    :highlight
      app.controller("addressBookCtrl", function ($scope) {
        book = $scope.addressBook;
        $scope.searchTerm = ""
      
        $scope.deleteEntry = function (entry) {
          index = book.indexOf(entry)
          if (index != -1) {
            book.splice(index, 1);
          }
        }
      
        $scope.editEntry = function (entry) {
          $scope.editingCopy = angular.copy(entry);
          $scope.entryBeingEdited = entry;
        }
      
        $scope.cancelEditingEntry = function () {
          delete $scope.entryBeingEdited;
          delete $scope.editingCopy;
        }
      
        $scope.saveEditingEntry = function () {
          angular.extend($scope.entryBeingEdited,
                         $scope.editingCopy);
          $scope.cancelEditingEntry();
        }
      });
    .arrow_left

#addLineHTML.step.codeFloat{'data-x': '9700', 'data-y': '7900', 'data-rotate': '-90', 'data-scale': '5'} 
  .htmlSrc.ng-non-bindable
    :highlight
      <tr class="addEntryInput" ng-show="newEntry">
        <td class="firstName">
          <input type="text" ng-model="newEntry.firstName">
        </td>

        <td class="actions">
          <a ng-click="saveNewEntry()">Save</a>
          <a ng-click="clearNewEntry()">Cancel</a>
        </td>
      </tr>

      <tr class="addEntryLink" ng-hide="newEntry">
        <td colspan="5">
          <a ng-click="startAddingEntry()">Add an Entry</a>
        </td>
      </tr>
    .arrow_right

#addLineJS.step.codeFloat{'data-x': '9700', 'data-y': '12000', 'data-rotate': '-90', 'data-scale': '5'} 
  .js.ng-non-bindable
    :highlight
      app.controller("addressBookCtrl", function ($scope) {
        book = $scope.addressBook;
      
        $scope.startAddingEntry = function () {
          $scope.newEntry = {
            firstName: "", lastName: "",
            email: "", phone: ""
          };
        };

        $scope.clearNewEntry = function () {
          delete $scope.newEntry;
        };

        $scope.saveNewEntry = function () {
          book.push($scope.newEntry);
          $scope.clearNewEntry();
        };

      });
    .arrow_right

#thats-actually-it.step{'data-x': '10000', 'data-y': '3500', 'data-rotate': '-90', 'data-scale': '6'}
  %h2
    <br>
    <br>
    That's actually it!

#show-everything.step{'data-x': '0', 'data-y': '3700', 'data-scale': '20'}
  .callout
    %ul
      %li
        <a href="http://angularjs.org">AngularJS</a> by <a href="http://www.google.com">Google</a>
      %li
        <a href="http://bartaz.github.io/impress.js">impress.js</a> by <a href="http://bartaz.github.io/">Bartaz</a>
      %li
        <br>
      %li
        Icons from <a href="http://fortawesome.github.io/Font-Awesome/">Font Awesome</a>
      %li
        Oxygen font by <a href="http://code.newtypography.co.uk/">Vernon Adams</a>
      %li
        <br>
      %li
        Presented by <a href="mailto:james@fullandbydesign.com.au">James Rakich</a>
    %ul.mini
      %li Twitter: <a href="http://twitter.com/MalucoMarinero">@MalucoMarinero</a>
      %li Github: <a href="http://github.com/MalucoMarinero">MalucoMarinero</a>
      %li Portfolio: <a href="http://fullandbydesign.com.au">Full And By Design</a>
    %ul
      %li Thanks for watching!


</div>
%script{'src': 'js/components/impress.js'}
:javascript
  impress().init();
  inputs = document.getElementsByTagName("input");
  for (var i = 0; i < inputs.length; i++) {
    inputs[i].addEventListener("keyup", function(event) {
      event.stopImmediatePropagation();
    }, false);
    inputs[i].addEventListener("keydown", function(event) {
      if (event.keyCode == 32) {
        event.target.value = event.target.value + ' ';
      }
    }, false);
  }

-# :javascript
-#   var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
-#   (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
-#   g.src='//www.google-analytics.com/ga.js';
-#   s.parentNode.insertBefore(g,s)}(document,'script'));

</body>
</html>
