@charset "UTF-8";
/* line 17, ../../../../../../../../home/james/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../home/james/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../home/james/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../home/james/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../home/james/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../home/james/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../home/james/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../home/james/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../home/james/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*  Font Awesome 3.0
 *    the iconic font designed for use with Twitter Bootstrap
 *    -------------------------------------------------------
 *    The full suite of pictographic icons, examples, and documentation
 *    can be found at: http://fortawesome.github.com/Font-Awesome/
 *
 *    License
 *    -------------------------------------------------------
 *    • The Font Awesome font is licensed under the SIL Open Font License - http://scripts.sil.org/OFL
 *    • Font Awesome CSS, LESS, and SASS files are licensed under the MIT License -
 *      http://opensource.org/licenses/mit-license.html
 *    • The Font Awesome pictograms are licensed under the CC BY 3.0 License - http://creativecommons.org/licenses/by/3.0/
 *    • Attribution is no longer required in Font Awesome 3.0, but much appreciated:
 *      "Font Awesome by Dave Gandy - http://fortawesome.github.com/Font-Awesome"
 *
 *    Contact
 *    -------------------------------------------------------
 *    Email: dave@davegandy.com
 *    Twitter: http://twitter.com/fortaweso_me
 *    Work: Lead Product Designer @ http://kyruus.com */
@font-face {
  font-family: "FontAwesome";
  src: url("/static/font/fontawesome-webfont.eot");
  src: url("/static/font/fontawesome-webfont.eot?#iefix") format("embedded-opentype"), url("/static/font/fontawesome-webfont.woff") format("woff"), url("/static/font/fontawesome-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/*  Font Awesome styles
 *  ------------------------------------------------------- */
/* includes sprites.less reset */
/* line 43, ../../src/sass/libs/_font-awesome.sass */
[class^="icon-"], [class*=" icon-"] {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  display: inline;
  width: auto;
  height: auto;
  line-height: normal;
  vertical-align: baseline;
  background-image: none !important;
  background-position: 0% 0%;
  background-repeat: repeat;
}

/* line 57, ../../src/sass/libs/_font-awesome.sass */
[class^="icon-"]:before, [class*=" icon-"]:before {
  text-decoration: inherit;
  display: inline-block;
  speak: none;
}

/* makes sure icons active on rollover in links */
/* line 65, ../../src/sass/libs/_font-awesome.sass */
a [class^="icon-"], a [class*=" icon-"] {
  display: inline-block;
}

/* makes the font 33% larger relative to the icon container */
/* line 70, ../../src/sass/libs/_font-awesome.sass */
.icon-large:before {
  vertical-align: -10%;
  font-size: 1.33333em;
}

/* line 75, ../../src/sass/libs/_font-awesome.sass */
.btn [class^="icon-"], .btn [class*=" icon-"], .nav [class^="icon-"], .nav [class*=" icon-"] {
  display: inline;
  /* keeps button heights with and without icons the same */
  line-height: 0.6em;
}
/* line 79, ../../src/sass/libs/_font-awesome.sass */
.btn [class^="icon-"].icon-spin, .btn [class*=" icon-"].icon-spin, .nav [class^="icon-"].icon-spin, .nav [class*=" icon-"].icon-spin {
  display: inline-block;
}

/* line 83, ../../src/sass/libs/_font-awesome.sass */
li [class^="icon-"], li [class*=" icon-"] {
  display: inline-block;
  width: 1.25em;
  text-align: center;
}
/* line 87, ../../src/sass/libs/_font-awesome.sass */
li [class^="icon-"].icon-large, li [class*=" icon-"].icon-large {
  /* increased font size for icon-large */
  width: 1.5625em;
}

/* line 91, ../../src/sass/libs/_font-awesome.sass */
ul.icons {
  list-style-type: none;
  text-indent: -0.75em;
}
/* line 96, ../../src/sass/libs/_font-awesome.sass */
ul.icons li [class^="icon-"], ul.icons li [class*=" icon-"] {
  width: 0.75em;
}

/* line 99, ../../src/sass/libs/_font-awesome.sass */
.icon-muted {
  color: #eeeeee;
}

/* line 105, ../../src/sass/libs/_font-awesome.sass */
.icon-border {
  border: solid 1px #eeeeee;
  padding: 0.2em 0.25em 0.15em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

/* line 113, ../../src/sass/libs/_font-awesome.sass */
.icon-2x {
  font-size: 2em;
}
/* line 115, ../../src/sass/libs/_font-awesome.sass */
.icon-2x.icon-border {
  border-width: 2px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

/* line 119, ../../src/sass/libs/_font-awesome.sass */
.icon-3x {
  font-size: 3em;
}
/* line 121, ../../src/sass/libs/_font-awesome.sass */
.icon-3x.icon-border {
  border-width: 3px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/* line 125, ../../src/sass/libs/_font-awesome.sass */
.icon-4x {
  font-size: 4em;
}
/* line 127, ../../src/sass/libs/_font-awesome.sass */
.icon-4x.icon-border {
  border-width: 4px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

/* line 135, ../../src/sass/libs/_font-awesome.sass */
.pull-right {
  float: right;
}

/* line 138, ../../src/sass/libs/_font-awesome.sass */
.pull-left {
  float: left;
}

/* line 142, ../../src/sass/libs/_font-awesome.sass */
[class^="icon-"].pull-left, [class*=" icon-"].pull-left {
  margin-right: 0.35em;
}
/* line 144, ../../src/sass/libs/_font-awesome.sass */
[class^="icon-"].pull-right, [class*=" icon-"].pull-right {
  margin-left: 0.35em;
}

/* line 150, ../../src/sass/libs/_font-awesome.sass */
.btn [class^="icon-"].pull-left.icon-2x, .btn [class^="icon-"].pull-right.icon-2x, .btn [class*=" icon-"].pull-left.icon-2x, .btn [class*=" icon-"].pull-right.icon-2x {
  margin-top: 0.35em;
}
/* line 152, ../../src/sass/libs/_font-awesome.sass */
.btn [class^="icon-"].icon-spin.icon-large, .btn [class*=" icon-"].icon-spin.icon-large {
  height: 0.75em;
}

/* line 158, ../../src/sass/libs/_font-awesome.sass */
.btn.btn-small [class^="icon-"].pull-left.icon-2x, .btn.btn-small [class^="icon-"].pull-right.icon-2x, .btn.btn-small [class*=" icon-"].pull-left.icon-2x, .btn.btn-small [class*=" icon-"].pull-right.icon-2x {
  margin-top: 0.45em;
}

/* line 164, ../../src/sass/libs/_font-awesome.sass */
.btn.btn-large [class^="icon-"].pull-left.icon-2x, .btn.btn-large [class^="icon-"].pull-right.icon-2x, .btn.btn-large [class*=" icon-"].pull-left.icon-2x, .btn.btn-large [class*=" icon-"].pull-right.icon-2x {
  margin-top: 0.2em;
}

/* line 168, ../../src/sass/libs/_font-awesome.sass */
.icon-spin {
  display: inline-block;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}

@-moz-keyframes spin {
  /* line 176, ../../src/sass/libs/_font-awesome.sass */
  0% {
    -moz-transform: rotate(0deg);
  }

  /* line 178, ../../src/sass/libs/_font-awesome.sass */
  100% {
    -moz-transform: rotate(359deg);
  }
}

@-webkit-keyframes spin {
  /* line 182, ../../src/sass/libs/_font-awesome.sass */
  0% {
    -webkit-transform: rotate(0deg);
  }

  /* line 184, ../../src/sass/libs/_font-awesome.sass */
  100% {
    -webkit-transform: rotate(359deg);
  }
}

@-o-keyframes spin {
  /* line 188, ../../src/sass/libs/_font-awesome.sass */
  0% {
    -o-transform: rotate(0deg);
  }

  /* line 190, ../../src/sass/libs/_font-awesome.sass */
  100% {
    -o-transform: rotate(359deg);
  }
}

@-ms-keyframes spin {
  /* line 194, ../../src/sass/libs/_font-awesome.sass */
  0% {
    -ms-transform: rotate(0deg);
  }

  /* line 196, ../../src/sass/libs/_font-awesome.sass */
  100% {
    -ms-transform: rotate(359deg);
  }
}

@keyframes spin {
  /* line 200, ../../src/sass/libs/_font-awesome.sass */
  0% {
    transform: rotate(0deg);
  }

  /* line 202, ../../src/sass/libs/_font-awesome.sass */
  100% {
    transform: rotate(359deg);
  }
}

/*  Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
 *  readers do not read off random characters that represent icons */
/* line 209, ../../src/sass/libs/_font-awesome.sass */
.icon-glass:before {
  content: "\f000";
}

/* line 211, ../../src/sass/libs/_font-awesome.sass */
.icon-music:before {
  content: "\f001";
}

/* line 213, ../../src/sass/libs/_font-awesome.sass */
.icon-search:before {
  content: "\f002";
}

/* line 215, ../../src/sass/libs/_font-awesome.sass */
.icon-envelope:before {
  content: "\f003";
}

/* line 217, ../../src/sass/libs/_font-awesome.sass */
.icon-heart:before {
  content: "\f004";
}

/* line 219, ../../src/sass/libs/_font-awesome.sass */
.icon-star:before {
  content: "\f005";
}

/* line 221, ../../src/sass/libs/_font-awesome.sass */
.icon-star-empty:before {
  content: "\f006";
}

/* line 223, ../../src/sass/libs/_font-awesome.sass */
.icon-user:before {
  content: "\f007";
}

/* line 225, ../../src/sass/libs/_font-awesome.sass */
.icon-film:before {
  content: "\f008";
}

/* line 227, ../../src/sass/libs/_font-awesome.sass */
.icon-th-large:before {
  content: "\f009";
}

/* line 229, ../../src/sass/libs/_font-awesome.sass */
.icon-th:before {
  content: "\f00a";
}

/* line 231, ../../src/sass/libs/_font-awesome.sass */
.icon-th-list:before {
  content: "\f00b";
}

/* line 233, ../../src/sass/libs/_font-awesome.sass */
.icon-ok:before {
  content: "\f00c";
}

/* line 235, ../../src/sass/libs/_font-awesome.sass */
.icon-remove:before {
  content: "\f00d";
}

/* line 237, ../../src/sass/libs/_font-awesome.sass */
.icon-zoom-in:before {
  content: "\f00e";
}

/* line 239, ../../src/sass/libs/_font-awesome.sass */
.icon-zoom-out:before {
  content: "\f010";
}

/* line 241, ../../src/sass/libs/_font-awesome.sass */
.icon-off:before {
  content: "\f011";
}

/* line 243, ../../src/sass/libs/_font-awesome.sass */
.icon-signal:before {
  content: "\f012";
}

/* line 245, ../../src/sass/libs/_font-awesome.sass */
.icon-cog:before {
  content: "\f013";
}

/* line 247, ../../src/sass/libs/_font-awesome.sass */
.icon-trash:before {
  content: "\f014";
}

/* line 249, ../../src/sass/libs/_font-awesome.sass */
.icon-home:before {
  content: "\f015";
}

/* line 251, ../../src/sass/libs/_font-awesome.sass */
.icon-file:before {
  content: "\f016";
}

/* line 253, ../../src/sass/libs/_font-awesome.sass */
.icon-time:before {
  content: "\f017";
}

/* line 255, ../../src/sass/libs/_font-awesome.sass */
.icon-road:before {
  content: "\f018";
}

/* line 257, ../../src/sass/libs/_font-awesome.sass */
.icon-download-alt:before {
  content: "\f019";
}

/* line 259, ../../src/sass/libs/_font-awesome.sass */
.icon-download:before {
  content: "\f01a";
}

/* line 261, ../../src/sass/libs/_font-awesome.sass */
.icon-upload:before {
  content: "\f01b";
}

/* line 263, ../../src/sass/libs/_font-awesome.sass */
.icon-inbox:before {
  content: "\f01c";
}

/* line 265, ../../src/sass/libs/_font-awesome.sass */
.icon-play-circle:before {
  content: "\f01d";
}

/* line 267, ../../src/sass/libs/_font-awesome.sass */
.icon-repeat:before {
  content: "\f01e";
}

/* \f020 doesn't work in Safari. all shifted one down */
/* line 270, ../../src/sass/libs/_font-awesome.sass */
.icon-refresh:before {
  content: "\f021";
}

/* line 272, ../../src/sass/libs/_font-awesome.sass */
.icon-list-alt:before {
  content: "\f022";
}

/* line 274, ../../src/sass/libs/_font-awesome.sass */
.icon-lock:before {
  content: "\f023";
}

/* line 276, ../../src/sass/libs/_font-awesome.sass */
.icon-flag:before {
  content: "\f024";
}

/* line 278, ../../src/sass/libs/_font-awesome.sass */
.icon-headphones:before {
  content: "\f025";
}

/* line 280, ../../src/sass/libs/_font-awesome.sass */
.icon-volume-off:before {
  content: "\f026";
}

/* line 282, ../../src/sass/libs/_font-awesome.sass */
.icon-volume-down:before {
  content: "\f027";
}

/* line 284, ../../src/sass/libs/_font-awesome.sass */
.icon-volume-up:before {
  content: "\f028";
}

/* line 286, ../../src/sass/libs/_font-awesome.sass */
.icon-qrcode:before {
  content: "\f029";
}

/* line 288, ../../src/sass/libs/_font-awesome.sass */
.icon-barcode:before {
  content: "\f02a";
}

/* line 290, ../../src/sass/libs/_font-awesome.sass */
.icon-tag:before {
  content: "\f02b";
}

/* line 292, ../../src/sass/libs/_font-awesome.sass */
.icon-tags:before {
  content: "\f02c";
}

/* line 294, ../../src/sass/libs/_font-awesome.sass */
.icon-book:before {
  content: "\f02d";
}

/* line 296, ../../src/sass/libs/_font-awesome.sass */
.icon-bookmark:before {
  content: "\f02e";
}

/* line 298, ../../src/sass/libs/_font-awesome.sass */
.icon-print:before {
  content: "\f02f";
}

/* line 300, ../../src/sass/libs/_font-awesome.sass */
.icon-camera:before {
  content: "\f030";
}

/* line 302, ../../src/sass/libs/_font-awesome.sass */
.icon-font:before {
  content: "\f031";
}

/* line 304, ../../src/sass/libs/_font-awesome.sass */
.icon-bold:before {
  content: "\f032";
}

/* line 306, ../../src/sass/libs/_font-awesome.sass */
.icon-italic:before {
  content: "\f033";
}

/* line 308, ../../src/sass/libs/_font-awesome.sass */
.icon-text-height:before {
  content: "\f034";
}

/* line 310, ../../src/sass/libs/_font-awesome.sass */
.icon-text-width:before {
  content: "\f035";
}

/* line 312, ../../src/sass/libs/_font-awesome.sass */
.icon-align-left:before {
  content: "\f036";
}

/* line 314, ../../src/sass/libs/_font-awesome.sass */
.icon-align-center:before {
  content: "\f037";
}

/* line 316, ../../src/sass/libs/_font-awesome.sass */
.icon-align-right:before {
  content: "\f038";
}

/* line 318, ../../src/sass/libs/_font-awesome.sass */
.icon-align-justify:before {
  content: "\f039";
}

/* line 320, ../../src/sass/libs/_font-awesome.sass */
.icon-list:before {
  content: "\f03a";
}

/* line 322, ../../src/sass/libs/_font-awesome.sass */
.icon-indent-left:before {
  content: "\f03b";
}

/* line 324, ../../src/sass/libs/_font-awesome.sass */
.icon-indent-right:before {
  content: "\f03c";
}

/* line 326, ../../src/sass/libs/_font-awesome.sass */
.icon-facetime-video:before {
  content: "\f03d";
}

/* line 328, ../../src/sass/libs/_font-awesome.sass */
.icon-picture:before {
  content: "\f03e";
}

/* line 330, ../../src/sass/libs/_font-awesome.sass */
.icon-pencil:before {
  content: "\f040";
}

/* line 332, ../../src/sass/libs/_font-awesome.sass */
.icon-map-marker:before {
  content: "\f041";
}

/* line 334, ../../src/sass/libs/_font-awesome.sass */
.icon-adjust:before {
  content: "\f042";
}

/* line 336, ../../src/sass/libs/_font-awesome.sass */
.icon-tint:before {
  content: "\f043";
}

/* line 338, ../../src/sass/libs/_font-awesome.sass */
.icon-edit:before {
  content: "\f044";
}

/* line 340, ../../src/sass/libs/_font-awesome.sass */
.icon-share:before {
  content: "\f045";
}

/* line 342, ../../src/sass/libs/_font-awesome.sass */
.icon-check:before {
  content: "\f046";
}

/* line 344, ../../src/sass/libs/_font-awesome.sass */
.icon-move:before {
  content: "\f047";
}

/* line 346, ../../src/sass/libs/_font-awesome.sass */
.icon-step-backward:before {
  content: "\f048";
}

/* line 348, ../../src/sass/libs/_font-awesome.sass */
.icon-fast-backward:before {
  content: "\f049";
}

/* line 350, ../../src/sass/libs/_font-awesome.sass */
.icon-backward:before {
  content: "\f04a";
}

/* line 352, ../../src/sass/libs/_font-awesome.sass */
.icon-play:before {
  content: "\f04b";
}

/* line 354, ../../src/sass/libs/_font-awesome.sass */
.icon-pause:before {
  content: "\f04c";
}

/* line 356, ../../src/sass/libs/_font-awesome.sass */
.icon-stop:before {
  content: "\f04d";
}

/* line 358, ../../src/sass/libs/_font-awesome.sass */
.icon-forward:before {
  content: "\f04e";
}

/* line 360, ../../src/sass/libs/_font-awesome.sass */
.icon-fast-forward:before {
  content: "\f050";
}

/* line 362, ../../src/sass/libs/_font-awesome.sass */
.icon-step-forward:before {
  content: "\f051";
}

/* line 364, ../../src/sass/libs/_font-awesome.sass */
.icon-eject:before {
  content: "\f052";
}

/* line 366, ../../src/sass/libs/_font-awesome.sass */
.icon-chevron-left:before {
  content: "\f053";
}

/* line 368, ../../src/sass/libs/_font-awesome.sass */
.icon-chevron-right:before {
  content: "\f054";
}

/* line 370, ../../src/sass/libs/_font-awesome.sass */
.icon-plus-sign:before {
  content: "\f055";
}

/* line 372, ../../src/sass/libs/_font-awesome.sass */
.icon-minus-sign:before {
  content: "\f056";
}

/* line 374, ../../src/sass/libs/_font-awesome.sass */
.icon-remove-sign:before {
  content: "\f057";
}

/* line 376, ../../src/sass/libs/_font-awesome.sass */
.icon-ok-sign:before {
  content: "\f058";
}

/* line 378, ../../src/sass/libs/_font-awesome.sass */
.icon-question-sign:before {
  content: "\f059";
}

/* line 380, ../../src/sass/libs/_font-awesome.sass */
.icon-info-sign:before {
  content: "\f05a";
}

/* line 382, ../../src/sass/libs/_font-awesome.sass */
.icon-screenshot:before {
  content: "\f05b";
}

/* line 384, ../../src/sass/libs/_font-awesome.sass */
.icon-remove-circle:before {
  content: "\f05c";
}

/* line 386, ../../src/sass/libs/_font-awesome.sass */
.icon-ok-circle:before {
  content: "\f05d";
}

/* line 388, ../../src/sass/libs/_font-awesome.sass */
.icon-ban-circle:before {
  content: "\f05e";
}

/* line 390, ../../src/sass/libs/_font-awesome.sass */
.icon-arrow-left:before {
  content: "\f060";
}

/* line 392, ../../src/sass/libs/_font-awesome.sass */
.icon-arrow-right:before {
  content: "\f061";
}

/* line 394, ../../src/sass/libs/_font-awesome.sass */
.icon-arrow-up:before {
  content: "\f062";
}

/* line 396, ../../src/sass/libs/_font-awesome.sass */
.icon-arrow-down:before {
  content: "\f063";
}

/* line 398, ../../src/sass/libs/_font-awesome.sass */
.icon-share-alt:before {
  content: "\f064";
}

/* line 400, ../../src/sass/libs/_font-awesome.sass */
.icon-resize-full:before {
  content: "\f065";
}

/* line 402, ../../src/sass/libs/_font-awesome.sass */
.icon-resize-small:before {
  content: "\f066";
}

/* line 404, ../../src/sass/libs/_font-awesome.sass */
.icon-plus:before {
  content: "\f067";
}

/* line 406, ../../src/sass/libs/_font-awesome.sass */
.icon-minus:before {
  content: "\f068";
}

/* line 408, ../../src/sass/libs/_font-awesome.sass */
.icon-asterisk:before {
  content: "\f069";
}

/* line 410, ../../src/sass/libs/_font-awesome.sass */
.icon-exclamation-sign:before {
  content: "\f06a";
}

/* line 412, ../../src/sass/libs/_font-awesome.sass */
.icon-gift:before {
  content: "\f06b";
}

/* line 414, ../../src/sass/libs/_font-awesome.sass */
.icon-leaf:before {
  content: "\f06c";
}

/* line 416, ../../src/sass/libs/_font-awesome.sass */
.icon-fire:before {
  content: "\f06d";
}

/* line 418, ../../src/sass/libs/_font-awesome.sass */
.icon-eye-open:before {
  content: "\f06e";
}

/* line 420, ../../src/sass/libs/_font-awesome.sass */
.icon-eye-close:before {
  content: "\f070";
}

/* line 422, ../../src/sass/libs/_font-awesome.sass */
.icon-warning-sign:before {
  content: "\f071";
}

/* line 424, ../../src/sass/libs/_font-awesome.sass */
.icon-plane:before {
  content: "\f072";
}

/* line 426, ../../src/sass/libs/_font-awesome.sass */
.icon-calendar:before {
  content: "\f073";
}

/* line 428, ../../src/sass/libs/_font-awesome.sass */
.icon-random:before {
  content: "\f074";
}

/* line 430, ../../src/sass/libs/_font-awesome.sass */
.icon-comment:before {
  content: "\f075";
}

/* line 432, ../../src/sass/libs/_font-awesome.sass */
.icon-magnet:before {
  content: "\f076";
}

/* line 434, ../../src/sass/libs/_font-awesome.sass */
.icon-chevron-up:before {
  content: "\f077";
}

/* line 436, ../../src/sass/libs/_font-awesome.sass */
.icon-chevron-down:before {
  content: "\f078";
}

/* line 438, ../../src/sass/libs/_font-awesome.sass */
.icon-retweet:before {
  content: "\f079";
}

/* line 440, ../../src/sass/libs/_font-awesome.sass */
.icon-shopping-cart:before {
  content: "\f07a";
}

/* line 442, ../../src/sass/libs/_font-awesome.sass */
.icon-folder-close:before {
  content: "\f07b";
}

/* line 444, ../../src/sass/libs/_font-awesome.sass */
.icon-folder-open:before {
  content: "\f07c";
}

/* line 446, ../../src/sass/libs/_font-awesome.sass */
.icon-resize-vertical:before {
  content: "\f07d";
}

/* line 448, ../../src/sass/libs/_font-awesome.sass */
.icon-resize-horizontal:before {
  content: "\f07e";
}

/* line 450, ../../src/sass/libs/_font-awesome.sass */
.icon-bar-chart:before {
  content: "\f080";
}

/* line 452, ../../src/sass/libs/_font-awesome.sass */
.icon-twitter-sign:before {
  content: "\f081";
}

/* line 454, ../../src/sass/libs/_font-awesome.sass */
.icon-facebook-sign:before {
  content: "\f082";
}

/* line 456, ../../src/sass/libs/_font-awesome.sass */
.icon-camera-retro:before {
  content: "\f083";
}

/* line 458, ../../src/sass/libs/_font-awesome.sass */
.icon-key:before {
  content: "\f084";
}

/* line 460, ../../src/sass/libs/_font-awesome.sass */
.icon-cogs:before {
  content: "\f085";
}

/* line 462, ../../src/sass/libs/_font-awesome.sass */
.icon-comments:before {
  content: "\f086";
}

/* line 464, ../../src/sass/libs/_font-awesome.sass */
.icon-thumbs-up:before {
  content: "\f087";
}

/* line 466, ../../src/sass/libs/_font-awesome.sass */
.icon-thumbs-down:before {
  content: "\f088";
}

/* line 468, ../../src/sass/libs/_font-awesome.sass */
.icon-star-half:before {
  content: "\f089";
}

/* line 470, ../../src/sass/libs/_font-awesome.sass */
.icon-heart-empty:before {
  content: "\f08a";
}

/* line 472, ../../src/sass/libs/_font-awesome.sass */
.icon-signout:before {
  content: "\f08b";
}

/* line 474, ../../src/sass/libs/_font-awesome.sass */
.icon-linkedin-sign:before {
  content: "\f08c";
}

/* line 476, ../../src/sass/libs/_font-awesome.sass */
.icon-pushpin:before {
  content: "\f08d";
}

/* line 478, ../../src/sass/libs/_font-awesome.sass */
.icon-external-link:before {
  content: "\f08e";
}

/* line 480, ../../src/sass/libs/_font-awesome.sass */
.icon-signin:before {
  content: "\f090";
}

/* line 482, ../../src/sass/libs/_font-awesome.sass */
.icon-trophy:before {
  content: "\f091";
}

/* line 484, ../../src/sass/libs/_font-awesome.sass */
.icon-github-sign:before {
  content: "\f092";
}

/* line 486, ../../src/sass/libs/_font-awesome.sass */
.icon-upload-alt:before {
  content: "\f093";
}

/* line 488, ../../src/sass/libs/_font-awesome.sass */
.icon-lemon:before {
  content: "\f094";
}

/* line 490, ../../src/sass/libs/_font-awesome.sass */
.icon-phone:before {
  content: "\f095";
}

/* line 492, ../../src/sass/libs/_font-awesome.sass */
.icon-check-empty:before {
  content: "\f096";
}

/* line 494, ../../src/sass/libs/_font-awesome.sass */
.icon-bookmark-empty:before {
  content: "\f097";
}

/* line 496, ../../src/sass/libs/_font-awesome.sass */
.icon-phone-sign:before {
  content: "\f098";
}

/* line 498, ../../src/sass/libs/_font-awesome.sass */
.icon-twitter:before {
  content: "\f099";
}

/* line 500, ../../src/sass/libs/_font-awesome.sass */
.icon-facebook:before {
  content: "\f09a";
}

/* line 502, ../../src/sass/libs/_font-awesome.sass */
.icon-github:before {
  content: "\f09b";
}

/* line 504, ../../src/sass/libs/_font-awesome.sass */
.icon-unlock:before {
  content: "\f09c";
}

/* line 506, ../../src/sass/libs/_font-awesome.sass */
.icon-credit-card:before {
  content: "\f09d";
}

/* line 508, ../../src/sass/libs/_font-awesome.sass */
.icon-rss:before {
  content: "\f09e";
}

/* line 510, ../../src/sass/libs/_font-awesome.sass */
.icon-hdd:before {
  content: "\f0a0";
}

/* line 512, ../../src/sass/libs/_font-awesome.sass */
.icon-bullhorn:before {
  content: "\f0a1";
}

/* line 514, ../../src/sass/libs/_font-awesome.sass */
.icon-bell:before {
  content: "\f0a2";
}

/* line 516, ../../src/sass/libs/_font-awesome.sass */
.icon-certificate:before {
  content: "\f0a3";
}

/* line 518, ../../src/sass/libs/_font-awesome.sass */
.icon-hand-right:before {
  content: "\f0a4";
}

/* line 520, ../../src/sass/libs/_font-awesome.sass */
.icon-hand-left:before {
  content: "\f0a5";
}

/* line 522, ../../src/sass/libs/_font-awesome.sass */
.icon-hand-up:before {
  content: "\f0a6";
}

/* line 524, ../../src/sass/libs/_font-awesome.sass */
.icon-hand-down:before {
  content: "\f0a7";
}

/* line 526, ../../src/sass/libs/_font-awesome.sass */
.icon-circle-arrow-left:before {
  content: "\f0a8";
}

/* line 528, ../../src/sass/libs/_font-awesome.sass */
.icon-circle-arrow-right:before {
  content: "\f0a9";
}

/* line 530, ../../src/sass/libs/_font-awesome.sass */
.icon-circle-arrow-up:before {
  content: "\f0aa";
}

/* line 532, ../../src/sass/libs/_font-awesome.sass */
.icon-circle-arrow-down:before {
  content: "\f0ab";
}

/* line 534, ../../src/sass/libs/_font-awesome.sass */
.icon-globe:before {
  content: "\f0ac";
}

/* line 536, ../../src/sass/libs/_font-awesome.sass */
.icon-wrench:before {
  content: "\f0ad";
}

/* line 538, ../../src/sass/libs/_font-awesome.sass */
.icon-tasks:before {
  content: "\f0ae";
}

/* line 540, ../../src/sass/libs/_font-awesome.sass */
.icon-filter:before {
  content: "\f0b0";
}

/* line 542, ../../src/sass/libs/_font-awesome.sass */
.icon-briefcase:before {
  content: "\f0b1";
}

/* line 544, ../../src/sass/libs/_font-awesome.sass */
.icon-fullscreen:before {
  content: "\f0b2";
}

/* line 546, ../../src/sass/libs/_font-awesome.sass */
.icon-group:before {
  content: "\f0c0";
}

/* line 548, ../../src/sass/libs/_font-awesome.sass */
.icon-link:before {
  content: "\f0c1";
}

/* line 550, ../../src/sass/libs/_font-awesome.sass */
.icon-cloud:before {
  content: "\f0c2";
}

/* line 552, ../../src/sass/libs/_font-awesome.sass */
.icon-beaker:before {
  content: "\f0c3";
}

/* line 554, ../../src/sass/libs/_font-awesome.sass */
.icon-cut:before {
  content: "\f0c4";
}

/* line 556, ../../src/sass/libs/_font-awesome.sass */
.icon-copy:before {
  content: "\f0c5";
}

/* line 558, ../../src/sass/libs/_font-awesome.sass */
.icon-paper-clip:before {
  content: "\f0c6";
}

/* line 560, ../../src/sass/libs/_font-awesome.sass */
.icon-save:before {
  content: "\f0c7";
}

/* line 562, ../../src/sass/libs/_font-awesome.sass */
.icon-sign-blank:before {
  content: "\f0c8";
}

/* line 564, ../../src/sass/libs/_font-awesome.sass */
.icon-reorder:before {
  content: "\f0c9";
}

/* line 566, ../../src/sass/libs/_font-awesome.sass */
.icon-list-ul:before {
  content: "\f0ca";
}

/* line 568, ../../src/sass/libs/_font-awesome.sass */
.icon-list-ol:before {
  content: "\f0cb";
}

/* line 570, ../../src/sass/libs/_font-awesome.sass */
.icon-strikethrough:before {
  content: "\f0cc";
}

/* line 572, ../../src/sass/libs/_font-awesome.sass */
.icon-underline:before {
  content: "\f0cd";
}

/* line 574, ../../src/sass/libs/_font-awesome.sass */
.icon-table:before {
  content: "\f0ce";
}

/* line 576, ../../src/sass/libs/_font-awesome.sass */
.icon-magic:before {
  content: "\f0d0";
}

/* line 578, ../../src/sass/libs/_font-awesome.sass */
.icon-truck:before {
  content: "\f0d1";
}

/* line 580, ../../src/sass/libs/_font-awesome.sass */
.icon-pinterest:before {
  content: "\f0d2";
}

/* line 582, ../../src/sass/libs/_font-awesome.sass */
.icon-pinterest-sign:before {
  content: "\f0d3";
}

/* line 584, ../../src/sass/libs/_font-awesome.sass */
.icon-google-plus-sign:before {
  content: "\f0d4";
}

/* line 586, ../../src/sass/libs/_font-awesome.sass */
.icon-google-plus:before {
  content: "\f0d5";
}

/* line 588, ../../src/sass/libs/_font-awesome.sass */
.icon-money:before {
  content: "\f0d6";
}

/* line 590, ../../src/sass/libs/_font-awesome.sass */
.icon-caret-down:before {
  content: "\f0d7";
}

/* line 592, ../../src/sass/libs/_font-awesome.sass */
.icon-caret-up:before {
  content: "\f0d8";
}

/* line 594, ../../src/sass/libs/_font-awesome.sass */
.icon-caret-left:before {
  content: "\f0d9";
}

/* line 596, ../../src/sass/libs/_font-awesome.sass */
.icon-caret-right:before {
  content: "\f0da";
}

/* line 598, ../../src/sass/libs/_font-awesome.sass */
.icon-columns:before {
  content: "\f0db";
}

/* line 600, ../../src/sass/libs/_font-awesome.sass */
.icon-sort:before {
  content: "\f0dc";
}

/* line 602, ../../src/sass/libs/_font-awesome.sass */
.icon-sort-down:before {
  content: "\f0dd";
}

/* line 604, ../../src/sass/libs/_font-awesome.sass */
.icon-sort-up:before {
  content: "\f0de";
}

/* line 606, ../../src/sass/libs/_font-awesome.sass */
.icon-envelope-alt:before {
  content: "\f0e0";
}

/* line 608, ../../src/sass/libs/_font-awesome.sass */
.icon-linkedin:before {
  content: "\f0e1";
}

/* line 610, ../../src/sass/libs/_font-awesome.sass */
.icon-undo:before {
  content: "\f0e2";
}

/* line 612, ../../src/sass/libs/_font-awesome.sass */
.icon-legal:before {
  content: "\f0e3";
}

/* line 614, ../../src/sass/libs/_font-awesome.sass */
.icon-dashboard:before {
  content: "\f0e4";
}

/* line 616, ../../src/sass/libs/_font-awesome.sass */
.icon-comment-alt:before {
  content: "\f0e5";
}

/* line 618, ../../src/sass/libs/_font-awesome.sass */
.icon-comments-alt:before {
  content: "\f0e6";
}

/* line 620, ../../src/sass/libs/_font-awesome.sass */
.icon-bolt:before {
  content: "\f0e7";
}

/* line 622, ../../src/sass/libs/_font-awesome.sass */
.icon-sitemap:before {
  content: "\f0e8";
}

/* line 624, ../../src/sass/libs/_font-awesome.sass */
.icon-umbrella:before {
  content: "\f0e9";
}

/* line 626, ../../src/sass/libs/_font-awesome.sass */
.icon-paste:before {
  content: "\f0ea";
}

/* line 628, ../../src/sass/libs/_font-awesome.sass */
.icon-lightbulb:before {
  content: "\f0eb";
}

/* line 630, ../../src/sass/libs/_font-awesome.sass */
.icon-exchange:before {
  content: "\f0ec";
}

/* line 632, ../../src/sass/libs/_font-awesome.sass */
.icon-cloud-download:before {
  content: "\f0ed";
}

/* line 634, ../../src/sass/libs/_font-awesome.sass */
.icon-cloud-upload:before {
  content: "\f0ee";
}

/* line 636, ../../src/sass/libs/_font-awesome.sass */
.icon-user-md:before {
  content: "\f0f0";
}

/* line 638, ../../src/sass/libs/_font-awesome.sass */
.icon-stethoscope:before {
  content: "\f0f1";
}

/* line 640, ../../src/sass/libs/_font-awesome.sass */
.icon-suitcase:before {
  content: "\f0f2";
}

/* line 642, ../../src/sass/libs/_font-awesome.sass */
.icon-bell-alt:before {
  content: "\f0f3";
}

/* line 644, ../../src/sass/libs/_font-awesome.sass */
.icon-coffee:before {
  content: "\f0f4";
}

/* line 646, ../../src/sass/libs/_font-awesome.sass */
.icon-food:before {
  content: "\f0f5";
}

/* line 648, ../../src/sass/libs/_font-awesome.sass */
.icon-file-alt:before {
  content: "\f0f6";
}

/* line 650, ../../src/sass/libs/_font-awesome.sass */
.icon-building:before {
  content: "\f0f7";
}

/* line 652, ../../src/sass/libs/_font-awesome.sass */
.icon-hospital:before {
  content: "\f0f8";
}

/* line 654, ../../src/sass/libs/_font-awesome.sass */
.icon-ambulance:before {
  content: "\f0f9";
}

/* line 656, ../../src/sass/libs/_font-awesome.sass */
.icon-medkit:before {
  content: "\f0fa";
}

/* line 658, ../../src/sass/libs/_font-awesome.sass */
.icon-fighter-jet:before {
  content: "\f0fb";
}

/* line 660, ../../src/sass/libs/_font-awesome.sass */
.icon-beer:before {
  content: "\f0fc";
}

/* line 662, ../../src/sass/libs/_font-awesome.sass */
.icon-h-sign:before {
  content: "\f0fd";
}

/* line 664, ../../src/sass/libs/_font-awesome.sass */
.icon-plus-sign-alt:before {
  content: "\f0fe";
}

/* line 666, ../../src/sass/libs/_font-awesome.sass */
.icon-double-angle-left:before {
  content: "\f100";
}

/* line 668, ../../src/sass/libs/_font-awesome.sass */
.icon-double-angle-right:before {
  content: "\f101";
}

/* line 670, ../../src/sass/libs/_font-awesome.sass */
.icon-double-angle-up:before {
  content: "\f102";
}

/* line 672, ../../src/sass/libs/_font-awesome.sass */
.icon-double-angle-down:before {
  content: "\f103";
}

/* line 674, ../../src/sass/libs/_font-awesome.sass */
.icon-angle-left:before {
  content: "\f104";
}

/* line 676, ../../src/sass/libs/_font-awesome.sass */
.icon-angle-right:before {
  content: "\f105";
}

/* line 678, ../../src/sass/libs/_font-awesome.sass */
.icon-angle-up:before {
  content: "\f106";
}

/* line 680, ../../src/sass/libs/_font-awesome.sass */
.icon-angle-down:before {
  content: "\f107";
}

/* line 682, ../../src/sass/libs/_font-awesome.sass */
.icon-desktop:before {
  content: "\f108";
}

/* line 684, ../../src/sass/libs/_font-awesome.sass */
.icon-laptop:before {
  content: "\f109";
}

/* line 686, ../../src/sass/libs/_font-awesome.sass */
.icon-tablet:before {
  content: "\f10a";
}

/* line 688, ../../src/sass/libs/_font-awesome.sass */
.icon-mobile-phone:before {
  content: "\f10b";
}

/* line 690, ../../src/sass/libs/_font-awesome.sass */
.icon-circle-blank:before {
  content: "\f10c";
}

/* line 692, ../../src/sass/libs/_font-awesome.sass */
.icon-quote-left:before {
  content: "\f10d";
}

/* line 694, ../../src/sass/libs/_font-awesome.sass */
.icon-quote-right:before {
  content: "\f10e";
}

/* line 696, ../../src/sass/libs/_font-awesome.sass */
.icon-spinner:before {
  content: "\f110";
}

/* line 698, ../../src/sass/libs/_font-awesome.sass */
.icon-circle:before {
  content: "\f111";
}

/* line 700, ../../src/sass/libs/_font-awesome.sass */
.icon-reply:before {
  content: "\f112";
}

/* line 702, ../../src/sass/libs/_font-awesome.sass */
.icon-github-alt:before {
  content: "\f113";
}

/* line 704, ../../src/sass/libs/_font-awesome.sass */
.icon-folder-close-alt:before {
  content: "\f114";
}

/* line 706, ../../src/sass/libs/_font-awesome.sass */
.icon-folder-open-alt:before {
  content: "\f115";
}

/* normalize.css 2011-08-12T17:28 UTC · http://github.com/necolas/normalize.css */
/******************************************************************************
 * HTML5 display definitions
 ***************************************************************************** */
/* line 7, ../../src/sass/libs/_normalize.sass */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* line 11, ../../src/sass/libs/_normalize.sass */
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 17, ../../src/sass/libs/_normalize.sass */
audio:not([controls]) {
  display: none;
}

/* line 21, ../../src/sass/libs/_normalize.sass */
[hidden] {
  display: none;
}

/******************************************************************************
 * Base
 ***************************************************************************** */
/* line 30, ../../src/sass/libs/_normalize.sass */
html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 40, ../../src/sass/libs/_normalize.sass */
body {
  margin: 0;
}

/* line 44, ../../src/sass/libs/_normalize.sass */
body, button, input, select, textarea {
  font-family: sans-serif;
}

/******************************************************************************
 * Links
 ***************************************************************************** */
/* line 53, ../../src/sass/libs/_normalize.sass */
a {
  color: #0000ee;
}
/* line 55, ../../src/sass/libs/_normalize.sass */
a:visited {
  color: #551a8b;
}
/* line 57, ../../src/sass/libs/_normalize.sass */
a:focus {
  outline: thin dotted;
}
/* line 60, ../../src/sass/libs/_normalize.sass */
a:hover, a:active {
  outline: 0;
}

/******************************************************************************
 * Typography
 ***************************************************************************** */
/* line 69, ../../src/sass/libs/_normalize.sass */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 73, ../../src/sass/libs/_normalize.sass */
b, strong {
  font-weight: bold;
}

/* line 77, ../../src/sass/libs/_normalize.sass */
dfn {
  font-style: italic;
}

/* line 81, ../../src/sass/libs/_normalize.sass */
mark {
  background: yellow;
  color: black;
}

/* line 86, ../../src/sass/libs/_normalize.sass */
pre, code, kbd, samp {
  font-family: monospace, serif;
  _font-family: "courier new", monospace;
  font-size: 1em;
}

/* line 93, ../../src/sass/libs/_normalize.sass */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 99, ../../src/sass/libs/_normalize.sass */
q {
  quotes: none;
}
/* line 104, ../../src/sass/libs/_normalize.sass */
q:before, q:after {
  content: "";
  content: none;
}

/* line 108, ../../src/sass/libs/_normalize.sass */
small {
  font-size: 75%;
}

/* line 111, ../../src/sass/libs/_normalize.sass */
blockquote {
  margin: 1em 40px;
}

/* line 116, ../../src/sass/libs/_normalize.sass */
sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 121, ../../src/sass/libs/_normalize.sass */
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}

/* line 127, ../../src/sass/libs/_normalize.sass */
sub {
  bottom: -0.25em;
}

/******************************************************************************
 * Lists
 ***************************************************************************** */
/* line 134, ../../src/sass/libs/_normalize.sass */
ul, ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}

/* line 138, ../../src/sass/libs/_normalize.sass */
dd {
  margin: 0 0 0 40px;
}

/* line 142, ../../src/sass/libs/_normalize.sass */
nav ul, nav ol {
  list-style: none;
  list-style-image: none;
}

/******************************************************************************
 * Embedded content
 ***************************************************************************** */
/* */
/* line 152, ../../src/sass/libs/_normalize.sass */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

/* line 159, ../../src/sass/libs/_normalize.sass */
svg:not(:root) {
  overflow: hidden;
}

/******************************************************************************
 * Figures
 ***************************************************************************** */
/* line 167, ../../src/sass/libs/_normalize.sass */
figure {
  margin: 0;
}

/******************************************************************************
 * Forms
 ***************************************************************************** */
/* line 175, ../../src/sass/libs/_normalize.sass */
form {
  margin: 0;
}

/* line 179, ../../src/sass/libs/_normalize.sass */
fieldset {
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 184, ../../src/sass/libs/_normalize.sass */
legend {
  border: 0;
  *margin-left: -7px;
}

/* line 190, ../../src/sass/libs/_normalize.sass */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/* line 199, ../../src/sass/libs/_normalize.sass */
button, input {
  line-height: normal;
  *overflow: visible;
}

/* line 206, ../../src/sass/libs/_normalize.sass */
table button, table input {
  *overflow: auto;
}

/* line 211, ../../src/sass/libs/_normalize.sass */
button, html input[type="button"], html input[type="reset"], html input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

/* line 219, ../../src/sass/libs/_normalize.sass */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
/* line 224, ../../src/sass/libs/_normalize.sass */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
/* line 232, ../../src/sass/libs/_normalize.sass */
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 236, ../../src/sass/libs/_normalize.sass */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 242, ../../src/sass/libs/_normalize.sass */
textarea {
  overflow: auto;
  vertical-align: top;
}

/******************************************************************************
 * Tables
 ***************************************************************************** */
/* line 252, ../../src/sass/libs/_normalize.sass */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 48, ../../src/sass/style.sass */
a {
  color: #214fd4;
}
/* line 18, ../../../../../../../../home/james/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:visited {
  color: #214fd4;
}
/* line 21, ../../../../../../../../home/james/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:focus {
  color: #002db2;
}
/* line 24, ../../../../../../../../home/james/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:hover {
  color: #002db2;
}
/* line 27, ../../../../../../../../home/james/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:active {
  color: #214fd4;
}

/* line 55, ../../src/sass/style.sass */
textarea {
  display: block;
}

/* line 1, ../../src/sass/_base.sass */
body {
  color: black;
  font-family: "Oxygen", serif;
  font-size: 15px;
  line-height: 1.25em;
}

/* line 7, ../../src/sass/_base.sass */
h1 {
  font-weight: bold;
  text-align: center;
  font-size: 59px;
  line-height: 1.25em;
}

/* line 13, ../../src/sass/_base.sass */
h2 {
  font-weight: bold;
  line-height: 1.5em;
  font-size: 61px;
  text-align: center;
  text-transform: lowercase;
}

/* line 20, ../../src/sass/_base.sass */
h3 {
  font-weight: normal;
  font-size: 37px;
  line-height: 1.25em;
}

/* line 25, ../../src/sass/_base.sass */
h4 {
  font-weight: normal;
  font-size: 23px;
  line-height: 1.25em;
}

/* line 30, ../../src/sass/_base.sass */
h5 {
  font-weight: bold;
  font-size: 23px;
  line-height: 1.25em;
}

/* line 35, ../../src/sass/_base.sass */
h6 {
  font-weight: bold;
  font-size: 15px;
  line-height: 1.25em;
}

/* line 40, ../../src/sass/_base.sass */
.fallback-message {
  display: none;
}

/* line 44, ../../src/sass/_base.sass */
body.impress-not-supported .fallback-message {
  display: block;
}

/* line 47, ../../src/sass/_base.sass */
html {
  overflow: hidden;
}

/* line 51, ../../src/sass/_base.sass */
#title h2 {
  font-weight: normal;
  line-height: 1em;
  font-size: 96px;
  text-align: center;
  text-align: right;
  margin-bottom: 0em;
}
/* line 58, ../../src/sass/_base.sass */
#title h1 {
  font-weight: bold;
  line-height: 1em;
  font-size: 161px;
  text-align: center;
  text-align: right;
  margin-bottom: 0em;
}

/* line 68, ../../src/sass/_base.sass */
.step {
  -webkit-transition: opacity 1s ease;
  -moz-transition: opacity 1s ease;
  -o-transition: opacity 1s ease;
  transition: opacity 1s ease;
  width: 1000px;
  position: relative;
  line-height: 1.5em;
  opacity: 0.3;
}
/* line 74, ../../src/sass/_base.sass */
.step.active {
  opacity: 1;
}

/* line 78, ../../src/sass/_base.sass */
#subtitle h2 {
  font-weight: bold;
  line-height: 1.5em;
  font-size: 86px;
  text-align: center;
  margin-bottom: 0em;
}
/* line 84, ../../src/sass/_base.sass */
#subtitle .uses {
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-size: 37px;
  font-weight: bold;
  line-height: 1.5em;
  color: white;
}
/* line 92, ../../src/sass/_base.sass */
#subtitle .uses li {
  opacity: 0;
  margin-left: 30px;
  text-shadow: black 2px 2px 0, black 2px -2px 0, black -2px -2px 0, black -2px 2px 0;
  -webkit-transition-property: opacity, margin-left;
  -moz-transition-property: opacity, margin-left;
  -o-transition-property: opacity, margin-left;
  transition-property: opacity, margin-left;
  -webkit-transition-duration: 1s, 1s;
  -moz-transition-duration: 1s, 1s;
  -o-transition-duration: 1s, 1s;
  transition-duration: 1s, 1s;
  -webkit-transition-timing-function: ease, ease;
  -moz-transition-timing-function: ease, ease;
  -o-transition-timing-function: ease, ease;
  transition-timing-function: ease, ease;
}
/* line 100, ../../src/sass/_base.sass */
#subtitle.present .uses li, #subtitle.past .uses li {
  opacity: 1;
  margin-left: 0px;
  -webkit-transition-delay: 2s, 2s;
  -moz-transition-delay: 2s, 2s;
  -o-transition-delay: 2s, 2s;
  transition-delay: 2s, 2s;
}
/* line 104, ../../src/sass/_base.sass */
#subtitle.present .uses li:nth-child(1), #subtitle.past .uses li:nth-child(1) {
  -webkit-transition-delay: 3s, 3s;
  -moz-transition-delay: 3s, 3s;
  -o-transition-delay: 3s, 3s;
  transition-delay: 3s, 3s;
}
/* line 106, ../../src/sass/_base.sass */
#subtitle.present .uses li:nth-child(2), #subtitle.past .uses li:nth-child(2) {
  -webkit-transition-delay: 4s, 4s;
  -moz-transition-delay: 4s, 4s;
  -o-transition-delay: 4s, 4s;
  transition-delay: 4s, 4s;
}
/* line 108, ../../src/sass/_base.sass */
#subtitle.present .uses li:nth-child(3), #subtitle.past .uses li:nth-child(3) {
  -webkit-transition-delay: 5s, 5s;
  -moz-transition-delay: 5s, 5s;
  -o-transition-delay: 5s, 5s;
  transition-delay: 5s, 5s;
}
/* line 110, ../../src/sass/_base.sass */
#subtitle.present .uses li:nth-child(4), #subtitle.past .uses li:nth-child(4) {
  -webkit-transition-delay: 6s, 6s;
  -moz-transition-delay: 6s, 6s;
  -o-transition-delay: 6s, 6s;
  transition-delay: 6s, 6s;
}
/* line 112, ../../src/sass/_base.sass */
#subtitle .wiring {
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  border-radius: 1em;
  margin: 0;
  padding: 0;
  position: relative;
  height: 620px;
  width: 1000px;
  background: url("../img/wiringbg.jpg") center no-repeat;
}
/* line 120, ../../src/sass/_base.sass */
#subtitle .wiring li img {
  width: 100%;
}
/* line 122, ../../src/sass/_base.sass */
#subtitle .wiring li {
  position: absolute;
  right: 30px;
  width: 300px;
  padding: 20px;
}
/* line 127, ../../src/sass/_base.sass */
#subtitle .wiring .jquery {
  top: 30px;
  background: rgba(255, 255, 255, 0.8);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
/* line 131, ../../src/sass/_base.sass */
#subtitle .wiring .mootools {
  top: 180px;
  background: rgba(128, 128, 128, 0.8);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
/* line 135, ../../src/sass/_base.sass */
#subtitle .wiring .scriptaculous {
  background: rgba(0, 0, 0, 0.8);
  top: 330px;
  padding: 0 0 0 15px;
  width: 325px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/* line 144, ../../src/sass/_base.sass */
#angular-intro h2 {
  font-weight: bold;
  line-height: 1.5em;
  font-size: 61px;
  text-align: center;
  margin-bottom: 0.5em;
}
/* line 150, ../../src/sass/_base.sass */
#angular-intro img {
  display: block;
  margin: 0 auto 3.5em;
}

/* line 154, ../../src/sass/_base.sass */
.impress-on-angular-pullout1 #angular-intro {
  opacity: 1;
}

/* line 156, ../../src/sass/_base.sass */
.impress-on-angular-pullout2 #angular-intro {
  opacity: 1;
}

/* line 164, ../../src/sass/_base.sass */
.hoverUncover .covered {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  width: 0;
  opacity: 0;
  -webkit-transition: opacity 1s ease;
  -moz-transition: opacity 1s ease;
  -o-transition: opacity 1s ease;
  transition: opacity 1s ease;
}
/* line 170, ../../src/sass/_base.sass */
.hoverUncover:hover .covered {
  width: auto;
  opacity: 1;
}

/* line 174, ../../src/sass/_base.sass */
.twoPane, .codePane {
  width: 900px;
  padding-right: 104px;
}
/* line 175, ../../src/sass/_base.sass */
.twoPane .case, .codePane .case {
  zoom: 1;
  opacity: 0.4;
  -webkit-transition: opacity 1s ease;
  -moz-transition: opacity 1s ease;
  -o-transition: opacity 1s ease;
  transition: opacity 1s ease;
}
/* line 631, ../../src/sass/libs/_grid.sass */
.twoPane .case:before, .twoPane .case:after, .codePane .case:before, .codePane .case:after {
  content: "\0020";
  display: block;
  height: 0;
  visibility: hidden;
}
/* line 641, ../../src/sass/libs/_grid.sass */
.twoPane .case:after, .codePane .case:after {
  clear: both;
}
/* line 179, ../../src/sass/_base.sass */
.twoPane .case:hover, .codePane .case:hover {
  opacity: 1;
}
/* line 183, ../../src/sass/_base.sass */
.twoPane .smallTitle, .codePane .smallTitle {
  position: absolute;
  top: -1.5em;
  left: 0.7em;
  text-transform: lowercase;
  font-size: 23px;
  line-height: 1.25em;
  -webkit-transition: opacity 1s ease;
  -moz-transition: opacity 1s ease;
  -o-transition: opacity 1s ease;
  transition: opacity 1s ease;
}
/* line 191, ../../src/sass/_base.sass */
.twoPane .panes, .codePane .panes {
  background: white;
  position: absolute;
  border: 1px solid black;
  border-right: none;
  top: 0;
  right: 100px;
  bottom: 0;
  left: 0;
}
/* line 200, ../../src/sass/_base.sass */
.twoPane .htmlSrc, .codePane .htmlSrc {
  background: rgba(255, 155, 128, 0.5);
}
/* line 202, ../../src/sass/_base.sass */
.twoPane .js, .codePane .js {
  background: rgba(242, 196, 140, 0.5);
}
/* line 204, ../../src/sass/_base.sass */
.twoPane .output, .codePane .output {
  background: rgba(166, 166, 166, 0.5);
}

/* line 209, ../../src/sass/_base.sass */
.twoPane .source {
  width: 52%;
  float: left;
  font-family: "Oxygen Mono", monospace;
  font-size: 23px;
  line-height: 1.25em;
  position: relative;
  padding: 0.25em 0.5em;
  margin-top: 0.5em;
  margin-bottom: 0.75em;
}
/* line 219, ../../src/sass/_base.sass */
.twoPane .source .arrow_box {
  position: absolute;
  left: 99.9%;
  top: 0%;
  border-top: 0.875em solid transparent;
  border-bottom: 0.875em solid transparent;
  border-left: 0.875em solid rgba(255, 155, 128, 0.5);
  display: block;
  width: 0;
  height: 0;
}
/* line 229, ../../src/sass/_base.sass */
.twoPane .output {
  width: 38%;
  float: right;
  font-size: 23px;
  line-height: 1.25em;
  padding-left: 0em;
  margin-top: 0.5em;
  position: relative;
  padding: 0.25em 0.5em;
  margin-right: 0.5em;
  margin-bottom: 0.75em;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
/* line 241, ../../src/sass/_base.sass */
.twoPane .output ul {
  margin: 0;
  padding: 0;
}
/* line 244, ../../src/sass/_base.sass */
.twoPane .output ul li {
  margin: 0;
  padding: 0;
}
/* line 249, ../../src/sass/_base.sass */
.twoPane .output table thead td {
  font-weight: bold;
}
/* line 251, ../../src/sass/_base.sass */
.twoPane .output table td {
  padding-right: 0.5em;
}

/* line 277, ../../src/sass/_base.sass */
.codePane .js, .codeFloat .js {
  font-family: "Oxygen Mono", monospace;
  background: rgba(242, 196, 140, 0.5);
  margin: 0.5em;
  padding: 0.5em;
  font-size: 23px;
  line-height: 1.25em;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
/* line 255, ../../src/sass/_base.sass */
.codePane .js .arrow_right, .codeFloat .js .arrow_right {
  position: absolute;
  left: 99.9%;
  top: 25%;
  border-top: 0.875em solid transparent;
  border-bottom: 0.875em solid transparent;
  border-left: 0.875em solid rgba(242, 196, 140, 0.5);
  display: block;
  width: 0;
  height: 0;
}
/* line 265, ../../src/sass/_base.sass */
.codePane .js .arrow_left, .codeFloat .js .arrow_left {
  position: absolute;
  right: 99.9%;
  top: 25%;
  border-top: 0.875em solid transparent;
  border-bottom: 0.875em solid transparent;
  border-right: 0.875em solid rgba(242, 196, 140, 0.5);
  display: block;
  width: 0;
  height: 0;
}
/* line 286, ../../src/sass/_base.sass */
.codePane .htmlSrc, .codeFloat .htmlSrc {
  font-family: "Oxygen Mono", monospace;
  background: rgba(255, 155, 128, 0.5);
  margin: 0.5em;
  padding: 0.5em;
  font-size: 23px;
  line-height: 1.25em;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
/* line 255, ../../src/sass/_base.sass */
.codePane .htmlSrc .arrow_right, .codeFloat .htmlSrc .arrow_right {
  position: absolute;
  left: 99.9%;
  top: 25%;
  border-top: 0.875em solid transparent;
  border-bottom: 0.875em solid transparent;
  border-left: 0.875em solid rgba(255, 155, 128, 0.5);
  display: block;
  width: 0;
  height: 0;
}
/* line 265, ../../src/sass/_base.sass */
.codePane .htmlSrc .arrow_left, .codeFloat .htmlSrc .arrow_left {
  position: absolute;
  right: 99.9%;
  top: 25%;
  border-top: 0.875em solid transparent;
  border-bottom: 0.875em solid transparent;
  border-right: 0.875em solid rgba(255, 155, 128, 0.5);
  display: block;
  width: 0;
  height: 0;
}
/* line 295, ../../src/sass/_base.sass */
.codePane .output, .codeFloat .output {
  font-family: "Oxygen", serif;
  background: rgba(166, 166, 166, 0.5);
  margin: 0.5em;
  padding: 0.5em;
  font-size: 23px;
  line-height: 1.25em;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
/* line 255, ../../src/sass/_base.sass */
.codePane .output .arrow_right, .codeFloat .output .arrow_right {
  position: absolute;
  left: 99.9%;
  top: 25%;
  border-top: 0.875em solid transparent;
  border-bottom: 0.875em solid transparent;
  border-left: 0.875em solid rgba(166, 166, 166, 0.5);
  display: block;
  width: 0;
  height: 0;
}
/* line 265, ../../src/sass/_base.sass */
.codePane .output .arrow_left, .codeFloat .output .arrow_left {
  position: absolute;
  right: 99.9%;
  top: 25%;
  border-top: 0.875em solid transparent;
  border-bottom: 0.875em solid transparent;
  border-right: 0.875em solid rgba(166, 166, 166, 0.5);
  display: block;
  width: 0;
  height: 0;
}
/* line 304, ../../src/sass/_base.sass */
.codePane .output em, .codeFloat .output em {
  font-style: italic;
}

/* line 307, ../../src/sass/_base.sass */
.step.majorPaneTitle {
  background: white;
  border: 1px solid black;
}
/* line 310, ../../src/sass/_base.sass */
.step.majorPaneTitle h2 {
  -webkit-transition: opacity 1s ease;
  -moz-transition: opacity 1s ease;
  -o-transition: opacity 1s ease;
  transition: opacity 1s ease;
}
/* line 312, ../../src/sass/_base.sass */
.step.majorPaneTitle img {
  display: block;
  width: 100%;
}

/* line 316, ../../src/sass/_base.sass */
.step.majorPane {
  height: 1002px;
}

/* line 319, ../../src/sass/_base.sass */
.panes .icon {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  background: black;
  -webkit-transition: opacity 1s ease;
  -moz-transition: opacity 1s ease;
  -o-transition: opacity 1s ease;
  transition: opacity 1s ease;
}

/* line 330, ../../src/sass/_base.sass */
.step.majorPane.future, .step.majorPaneTitle.future {
  opacity: 0;
}
/* line 332, ../../src/sass/_base.sass */
.step.majorPane.active, .step.majorPaneTitle.active {
  opacity: 1;
}
/* line 334, ../../src/sass/_base.sass */
.step.majorPane.past, .step.majorPaneTitle.past {
  opacity: 1;
}
/* line 336, ../../src/sass/_base.sass */
.step.majorPane.past .panes .case, .step.majorPane.past .smallTitle, .step.majorPaneTitle.past .panes .case, .step.majorPaneTitle.past .smallTitle {
  opacity: 0;
}
/* line 338, ../../src/sass/_base.sass */
.step.majorPane.past .panes .icon, .step.majorPaneTitle.past .panes .icon {
  opacity: 1;
}
/* line 340, ../../src/sass/_base.sass */
.step.majorPane.past h2, .step.majorPaneTitle.past h2 {
  opacity: 0.5;
}

/* line 344, ../../src/sass/_base.sass */
.step.codeFloat.future, #thats-actually-it.future {
  opacity: 0;
}
/* line 346, ../../src/sass/_base.sass */
.step.codeFloat.active, #thats-actually-it.active {
  opacity: 1;
}
/* line 348, ../../src/sass/_base.sass */
.step.codeFloat.past, #thats-actually-it.past {
  opacity: 1;
}

/* line 353, ../../src/sass/_base.sass */
#addressBookApp h2 {
  margin-bottom: 1em;
}
/* line 355, ../../src/sass/_base.sass */
#addressBookApp.future {
  opacity: 0;
}
/* line 357, ../../src/sass/_base.sass */
#addressBookApp.past {
  opacity: 1;
}

/* line 360, ../../src/sass/_base.sass */
#addressBookDemo {
  min-height: 20em;
}
/* line 362, ../../src/sass/_base.sass */
#addressBookDemo .search {
  text-align: right;
  width: 900px;
  margin: 0 auto;
}
/* line 366, ../../src/sass/_base.sass */
#addressBookDemo .search label {
  font-weight: bold;
}
/* line 368, ../../src/sass/_base.sass */
#addressBookDemo table {
  width: 900px;
  margin: 0 auto;
  font-size: 20px;
  line-height: 1.5em;
}
/* line 373, ../../src/sass/_base.sass */
#addressBookDemo table thead {
  border-bottom: 3px solid black;
}
/* line 375, ../../src/sass/_base.sass */
#addressBookDemo table thead td {
  padding: 0.25em;
  font-weight: bold;
}
/* line 378, ../../src/sass/_base.sass */
#addressBookDemo table tbody {
  font-size: 18px;
}
/* line 380, ../../src/sass/_base.sass */
#addressBookDemo table tbody tr:nth-child(2n+1) {
  background: rgba(191, 191, 191, 0.5);
}
/* line 382, ../../src/sass/_base.sass */
#addressBookDemo table tbody .addEntryInput, #addressBookDemo table tbody .addEntryLink {
  border-top: 1px dashed #999999;
  background: none !important;
}
/* line 385, ../../src/sass/_base.sass */
#addressBookDemo table tbody td {
  padding: 0.25em;
}
/* line 387, ../../src/sass/_base.sass */
#addressBookDemo table tbody td.firstName, #addressBookDemo table tbody td.lastName, #addressBookDemo table tbody td.phone {
  width: 15%;
}
/* line 389, ../../src/sass/_base.sass */
#addressBookDemo table tbody td.email {
  width: 30%;
}
/* line 391, ../../src/sass/_base.sass */
#addressBookDemo table tbody td.phone {
  width: 20%;
}
/* line 393, ../../src/sass/_base.sass */
#addressBookDemo table tbody td input {
  width: 93%;
  font-family: "Oxygen", serif;
  border: none;
  background: rgba(166, 166, 166, 0.5);
  padding: 0.1em;
}
/* line 399, ../../src/sass/_base.sass */
#addressBookDemo table tbody td .edit {
  display: none;
}
/* line 403, ../../src/sass/_base.sass */
#addressBookDemo table tbody tr.editing .display {
  display: none;
}
/* line 405, ../../src/sass/_base.sass */
#addressBookDemo table tbody tr.editing .edit {
  display: inline;
}

/* line 408, ../../src/sass/_base.sass */
.codeFloat {
  width: 800px;
}
/* line 410, ../../src/sass/_base.sass */
.codeFloat .htmlSrc, .codeFloat .js {
  font-size: 21px;
  line-height: 1.5em;
}
/* line 413, ../../src/sass/_base.sass */
.codeFloat .htmlSrc .o, .codeFloat .js .o {
  font-weight: bold;
}
/* line 415, ../../src/sass/_base.sass */
.codeFloat .htmlSrc .mi, .codeFloat .js .mi {
  color: blue;
}
/* line 417, ../../src/sass/_base.sass */
.codeFloat .htmlSrc .p, .codeFloat .js .p {
  color: rgba(0, 0, 0, 0.8);
}
/* line 419, ../../src/sass/_base.sass */
.codeFloat .htmlSrc .s, .codeFloat .js .s {
  color: #206020;
}

/* line 423, ../../src/sass/_base.sass */
#variables .icon {
  background: white url("../img/exprtile.png") center no-repeat;
}

/* line 425, ../../src/sass/_base.sass */
#directives .icon {
  background: white url("../img/dirtile.png") center no-repeat;
}

/* line 427, ../../src/sass/_base.sass */
#modules .icon {
  background: white url("../img/apptile.png") center no-repeat;
}

/* line 429, ../../src/sass/_base.sass */
#controllers .icon {
  background: white url("../img/ctrltile.png") center no-repeat;
}

/* line 431, ../../src/sass/_base.sass */
#services .icon {
  background: white url("../img/servicetile.png") center no-repeat;
}

/* line 434, ../../src/sass/_base.sass */
.impress-on-show-everything .step {
  opacity: 1 !important;
}

/* line 437, ../../src/sass/_base.sass */
#thats-actually-it {
  z-index: -200;
}

/* line 439, ../../src/sass/_base.sass */
#show-everything {
  height: 1000px;
  z-index: -500;
}
/* line 440, ../../src/sass/_base.sass */
#show-everything.future {
  opacity: 0;
}
/* line 444, ../../src/sass/_base.sass */
#show-everything .callout {
  text-align: right;
  position: absolute;
  top: 250px;
  bottom: 0;
  right: 800px;
  width: 800px;
}
/* line 452, ../../src/sass/_base.sass */
#show-everything .callout ul li {
  font-size: 37px;
  line-height: 1.25em;
  color: #666666;
}
/* line 456, ../../src/sass/_base.sass */
#show-everything .callout ul li a {
  text-decoration: none;
  color: #8f8fff;
  -webkit-transition: color 1s ease;
  -moz-transition: color 1s ease;
  -o-transition: color 1s ease;
  transition: color 1s ease;
}
/* line 460, ../../src/sass/_base.sass */
#show-everything .callout ul li a:hover {
  color: #1a1aff;
}
/* line 463, ../../src/sass/_base.sass */
#show-everything .callout ul.mini li {
  font-size: 23px;
  line-height: 1.25em;
}
